@{
    ViewBag.Title = "HR Operations";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }
</style>
<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                HR Operations
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li>
                        <a href="~/HumanResource/Home/JobRequisitionInfor">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Job Requisition

                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Recruitment & Hiring
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/HumanResource/Home/ApplicantResume">
                                    Applicant Resume Data Base
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/ApplicationForm">
                                    Application Form
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/InterviewDetails">
                                    Interview Setup
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/Confirmation">
                                    Confirmations
                                </a>
                            </li>
                            <li class="">
                                <a href="~/HumanResource/Home/Vetting">
                                    Vetting
                                </a>
                            </li>
                            <li class="">
                                <a href="~/HumanResource/Home/Tests">
                                    Tests
                                </a>
                            </li>
                        </ul>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/StaffWorkExperience">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Staff Resume Database
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/ContractManagement">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Contract Management
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/AllocationOfRoles">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Allocation of Roles/Resposibilities
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/RolesAndObjectives">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Appraisals
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Tasks">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Tasks and Administration
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Attendance">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Attendance Record
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="#">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Unionised Staff
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/HumanResource/Home/UnionDetails">
                                    Union Details
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/UnionRegistration">
                                    Registration/De-Registration
                                </a>
                            </li>

                        </ul>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Memos">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Memos
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Minutes">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Minutes of Meetings
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Postings">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Posting
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Promotion">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Promotions & Demotions
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/RemoteAccess">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Resource Access Control
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Leave">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Leave Scheduling
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Shift">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Shifts Administration
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Training">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Training
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Grievances">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Grievances Resolution
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="#">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Employees Health & Safety
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/HumanResource/Home/">
                                    Injury/Illness Information
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/">
                                    Health & Safety Promotion
                                </a>
                            </li>
                        </ul>
                    </li>

                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Staff Loans Processing
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Policy Administration
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Benefits Processing
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Compensation
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Incentives
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Contract Termination
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                            Check-off Systems
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" />
                           Claim Management
                        </a>
                    </li>
                    &nbsp;
                </ul>
</div>
        </div>
    </div>
</div>
