<!DOCTYPE html>
<html>

@{
    CaresoftHMISDataAccess.CaresoftHMISEntities db =
        new CaresoftHMISDataAccess.CaresoftHMISEntities();
    var UID = (int)Session["UserId"];
    var user = new CaresoftHMISDataAccess.User();
    var faclityName = new CaresoftHMISDataAccess.KeyValuePair();


    user = db.Users.FirstOrDefault(e => e.Id.Equals(UID));
    faclityName = db.KeyValuePairs.FirstOrDefault(e => e.Key_.Equals("FacilityName"));

    ViewBag.departmets = db.Departments.ToList();

    ViewBag.UserRoles = db.UserRoles.ToList();


}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>MIS Reports</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/Areas/MISReports/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/Areas/MISReports/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/Areas/MISReports/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/Areas/MISReports/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/Areas/MISReports/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Areas/MISReports/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->

    @Html.Partial("~/Areas/MISReports/Views/Shared/_TopNav.cshtml", faclityName)

    @Html.Partial("~/Areas/MISReports/Views/Shared/_LeftNav.cshtml", user)

    <section class="content">
        @RenderBody()
    </section>

    <!-- Jquery Core Js -->
    <script src="~/Areas/MISReports/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/Areas/MISReports/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/Areas/MISReports/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/Areas/MISReports/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/Areas/MISReports/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/Areas/MISReports/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/Areas/MISReports/plugins/raphael/raphael.min.js"></script>
    <script src="~/Areas/MISReports/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/Areas/MISReports/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/Areas/MISReports/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/Areas/MISReports/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/Areas/MISReports/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/Areas/MISReports/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/Areas/MISReports/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/Areas/MISReports/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="~/Areas/MISReports/js/admin.js"></script>
    <script src="~/Areas/MISReports/js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="~/Areas/MISReports/js/demo.js"></script>
</body>

</html>
