
@model IEnumerable<CaresoftHMISDataAccess.HRAllocationOfRole>
@{

    ViewBag.Title = "Allocation Of Roles And Resposibilities";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_ContractManagementNav.cshtml")
</div>

@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}


<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading">
                Allocation Of Roles And Resposibilities
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveAllocationOfRolesData","Home",new {Area="HumanResource"})">

                        <table class="table-form">
                            <tr>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg " />
                                </td>
                                <td>
                                    <label>Designation</label>
                                </td>
                                <td>
                                    <select name="Designation" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    <p>Department Name</p>
                                </td>
                                <td>
                                    <select name="Department" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <label>Section</label>
                                </td>
                                <td>
                                    <select name="Section" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Duty Station</label>
                                </td>
                                <td>
                                    <select name="DutyStation" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td><label>Supervisor</label></td>
                                <td>
                                    <input type="text" name="Supervisor" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Begin Date</label></td>
                                <td>
                                    <input type="date" name="BeginDate" class="text-box box-lg " />
                                </td>
                                <td><label>Shift</label></td>
                                <td>
                                    <input type="radio" name="Shift" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Role Id</label></td>
                                <td>
                                    <input type="number" name="RoleId" class="text-box box-lg " />
                                </td>
                                <td><label>Resposibility</label></td>
                                <td>
                                    <input type="text" name="Resposibility" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Objective</label></td>
                                <td>
                                    <input type="text" name="Objective" class="text-box box-lg " />
                                </td>
                                <td><label>KPIs</label></td>
                                <td>
                                    <input type="text" name="KPIs" class="text-box box-lg " />
                                </td>
                            </tr>
                        </table>
                        <div class="form-group">
                            <label class="info-title col-md-12" for="black_name"><strong>Remarks</strong><span><font color="black"><b></b></font></span></label>
                            <span id='message_full_name'></span>
                            <textarea style="width:250px;height:70px;" name="Remarks" class="text-box unicase-form-control text-input" id="extension_number"
                                      placeholder="Enter plan">
                                        
                                    </textarea>
                        </div>
                            <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                       
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("AllocationOfRolesGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









