
@model IEnumerable<CaresoftHMISDataAccess.HRApplicationForm>
@{
    ViewBag.Title = "Application Form";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary  caresoft-panel glass">
            <div class="panel-heading">
                Applicstion Form
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form id="application" method="post" action="@Url.Action("SaveApplicationFormData","Home",new {Area="HumanResource"})">

                        <table class="table-form">
                            <tr>
                                <td><label>Applicant Id</label></td>
                                <td>
                                    <input type="number" name="ApplicantId" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                </tr>
                            <tr>
                                <td><label>Date</label></td>
                                <td>
                                    <input type="date" name="Date" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            
                        </table>

                        <br />
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("ApplicationFormGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>











