
@model IEnumerable<CaresoftHMISDataAccess.HRStaffLoan>
@{

    ViewBag.Title = "Applicant's Information";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

<div class="col-md-7">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveApplicantInformationData","Home",new {Area="HumanResource"})">

                        <table class="table-form">

                            <tr>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg" />
                                </td>
                                <td><label>Date Applied</label></td>
                                <td>
                                    <input type="date" name="DateApplied" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Type Of Loan</label>
                                </td>
                                <td>
                                    <select name="TypeOfLoan" class="text-box box-lg">
                                        <option>Select</option>
                                        <option>Building</option>
                                        <option>Business</option>
                                        <option>Death</option>
                                        <option>School Fees</option>
                                        <option>Other</option>
                                    </select>
                                </td>
                                <td><label>Amount Applied For</label></td>
                                <td>
                                    <input type="number" name="AmountAppliedFor" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Annual Salary</label></td>
                                <td>
                                    <input type="number" name="AnnualSalary" class="text-box box-lg" />
                                </td>
                                <td><label>Annual Gross Net Salary</label></td>
                                <td>
                                    <input type="number" name="AnnualGrossNetSalary" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Other Loan Balances</label></td>
                                <td>
                                    <input type="number" name="OtherLoanBalances" class="text-box box-lg" />
                                </td>
                                <td><label>Gurantors(If Any)</label></td>
                                <td>
                                    <input type="text" name="Gurantors" class="text-box box-lg" />
                                </td>
                            </tr>
                            </table>
                        <label><strong>Collateral(If required)</strong></label>
                        <table>
                            <tr>
                                <td><label>Item No</label></td>
                                <td>
                                    <input type="number" name="ItemNo" class="text-box box-lg" />
                                </td>
                                <td><label>Type Of Collateral</label></td>
                                <td>
                                    <input type="text" name="TypeOfCollateral" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Particulars</label></td>
                                <td>
                                    <input type="text" name="Particulars" class="text-box box-lg" />
                                </td>
                                <td><label>Value</label></td>
                                <td>
                                    <input type="number" name="Value" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Serial</label></td>
                                <td>
                                    <input type="number" name="Serial" class="text-box box-lg" />
                                </td>
                                <td><label>Model</label></td>
                                <td>
                                    <input type="text" name="Model" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <label class="info-title col-md-12" for="black_name">Remarks<span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:150%;height:70px;" name="Remarks" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <br />

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("ApplicantInforGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
















