@model IEnumerable<CaresoftHMISDataAccess.HRApplicant>

<style>
    table#patientList {
        white-space: nowrap;
    }

        table#patientList tr:hover {
            white-space: nowrap;
        }
</style>

@if (ViewBag.IsSearch == null)
{
    ViewBag.ShowTopMenu = true;
}

    <div class="container">
        <div class="panel panel-primary caresoft-panel">
            <div class="panel-heading">
                Applicants Register
            </div>
            <div class="panel-body ">
                @Html.Partial("_DataFilter")
                <div class="scrollable-table-container" id="data-results">
                    @Html.Partial("RegistrationGrid", Model);
                </div>
            </div>
        </div>

    </div>

        <div class="modal fade " data-backdrop="static" id="opd-registration" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content caresoft-panel">
                    <div class="panel panel-primary  shadow glass caresoft-panel" style="margin-bottom:-1em;">
                        <div class="panel-heading caresoft-panel">
                            <a href="#" class="close" data-dismiss="modal" aria-label="close">&times;</a>
                            Basic Information
                        </div>
                        <div class="panel-body" id="opd-form-holder">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @section scripts{
            <script>
        var method = "POST";
        var action = "@Url.Action("ApplicantsList", "Home",new {Area="HumanResource"})"

                $("input[name=regType]").each(function () {
                    $(this).click(function () {
                        $("#revisit_applicant_id").val("0");
                        var checked_radio = $("input[name=regType]:checked");

                        $(".radio-bound").each(function () {
                            if ($(this).attr("data-boubd-radio") === checked_radio.val()) {
                                $(this).prop('disabled', false);
                            } else {
                                $(this).prop('disabled', true);
                            }
                        })

                    });
                });
            </script>
        }
    
