@model IEnumerable<CaresoftHMISDataAccess.HRJobCategory>


<table class="table table-data table-condensed">

    <tr>
        <th>Edit</th>
        <th>Delete</th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCategory)
        </th>
        
    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>
                <td>Edit</td>
                <td>Delete</td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobCategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobCategory)
                </td>
                
            </tr>
        }
    </tbody>
</table>

