
@model IEnumerable<CaresoftHMISDataAccess.HRClaimManagement>
@{

    ViewBag.Title = "Claims Management";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_ContractTerminationNav.cshtml")
</div>

<div class="col-md-7">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveClaimManagementData","Home",new {Area="HumanResource"})">

                        <table class="table-form">

                            <tr>
                                <td><label>Claim No</label></td>
                                <td>
                                    <input type="number" name="ClaimNo" class="text-box box-lg" />
                                </td>
                                <td><label>Ref No</label></td>
                                <td>
                                    <input type="number" name="RefNo" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Type Of Claim</label>
                                </td>
                                <td>
                                    <select name="TypeOfClaim" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>

                                <td><label>Amount Of Claim</label></td>
                                <td>
                                    <input type="number" name="AmountOfClaim" class="text-box box-lg" />
                                </td>
                                <td><label>Idemnity Issuer</label></td>
                                <td>
                                    <input type="text" name="IdemnityIssuer" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Expected Date Of Reimbursement</label></td>
                                <td>
                                    <input type="date" name="ExpectedDateOfReimbursement" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <label class="info-title col-md-12" for="black_name">Comments<span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:150%;height:70px;" name="Comments" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <br />

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("ClaimManagementGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















