
@model IEnumerable<CaresoftHMISDataAccess.HRConfirmation>
@{
               
                ViewBag.Title = "Confirmations";
                ViewBag.showTopMenu = true;
                ViewBag.WideView = true;
                Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_JobRequisitionNav.cshtml")
</div>

<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading">
                Confirmations
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form method="post" action="@Url.Action("SaveConfirmationData","Home",new {Area="HumanResource"})">
                        <table class="table-form"> 
                            <tr>
                                <td>
                                    <label>Applicant Id</label>

                                    <input type="text" name="ApplicantId" class="text-box box-lg " />
                                </td>
                            </tr>
                        </table>
                        <label> <strong>Confirmation of Academic/Professional Records </strong></label>
                        <table class="table-form">
                            <tr>
                                <td><label>Level</label></td>
                                <td>
                                    <input type="number" name="Level1" class="text-box box-lg "/>
                                </td>
                                <td><label>Institution Name</label></td>
                                <td>
                                    <input type="text" name="InstitutionName" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Contacted Person</label></td>
                                <td>
                                    <input type="number" name="ContactedPerson" class="text-box box-lg "  />
                                </td>
                                <td><label>Date Confirmed</label></td>
                                <td>
                                    <input type="date" name="DateConfirmed" class="text-box box-lg "  />
                                </td>
                            </tr>
                            <tr>

                                <td><label>Reviewer</label></td>
                                <td>
                                    <input type="text" name="Reviewer" class="text-box box-lg " />
                                </td>

                                <td><label>Results Obtained</label></td>
                                <td>
                                    <input type="text" name="ResultsObtained" class="text-box box-lg " />
                                </td>

                            </tr>
                        </table>
                               
                        <label> <strong>Confirmation of Referees/Previous Employers </strong></label>
                        <table class="table-form">

                            <tr>
                                <td><label>Name</label></td>
                                <td>
                                    <input type="text" name="Name" class="text-box box-lg "/>
                                </td>

                                <td><label>Title</label></td>
                                <td>
                                    <input type="text" name="Level1" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Institution</label></td>
                                <td>
                                    <input type="text" name="Instiution" class="text-box box-lg " />
                                </td>

                                <td><label>Telephone</label></td>
                                <td>
                                    <input type="tel" name="ContactedPerson" class="text-box box-lg "/>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Postal Address</label></td>
                                <td>
                                    <input type="text" name="PostalAddress" class="text-box box-lg " />
                                </td>
                                <td><label>Date</label></td>
                                <td>
                                    <input type="text" name="Date" class="text-box box-lg " />
                                </td>
                            </tr>
                           
                        </table>
                               
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("ConfirmationGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









