@model IEnumerable<CaresoftHMISDataAccess.HRDisplinaryAction>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ReasonCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ReasonCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

            </tr>
        }
    </tbody>
</table>











