
@model IEnumerable<CaresoftHMISDataAccess.HREmployeeSetup>
@{

    ViewBag.Title = "Employee Category";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-3">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form method="post" action="@Url.Action("SaveEmployeeCategoryData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE REGISTER EMPLOYEE CATEGORIES HERE </strong></label>
                        <table class="table-form">
                            <tr>
                                <td><label>Category Id</label></td>
                                <td>
                                    <input type="number" name="CategoryId" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Category Description</label></td>
                                <td>
                                    <input type="text" name="CategoryDescription" class="text-box box-lg " />
                                </td>

                            </tr>

                        </table>

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />

                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("EmployeeCategoryGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>













