
@model IEnumerable<CaresoftHMISDataAccess.HRFileDetail>
@{

    ViewBag.Title = "File Details";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_SideNav.cshtml")
</div>
@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}

<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary  caresoft-panel glass">
            <div class="panel-heading">
                File Details
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form id="tests" method="post" action="@Url.Action("SaveFileDetailsData","Home",new {Area="HumanResource"})">

                        <table>
                            <tr>
                                <td><label>File Id</label></td>
                                <td>
                                    <input type="number" name="FileId" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>

                            <tr>
                                <td><label>First Name</label></td>
                                <td>
                                    <input type="text" name="FirstName" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td><label>Designation</label></td>
                                <td>
                                    <input type="text" name="Designation" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Second Name</label></td>
                                <td>
                                    <input type="text" name="SecondName" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td>
                                    <label>Section</label>
                                </td>
                                <td>
                                    <select name="Section" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>OtherNames</label></td>
                                <td>
                                    <input type="text" name="OtherNames" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td class="">
                                    <p>Department</p>
                                </td>
                                <td>
                                    <select name="Department" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <td><label>Interview Date</label></td>
                                <td>
                                    <input type="date" name="InterviewDate" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td><label>Hire Date</label></td>
                                <td>
                                    <input type="date" name="HireDate" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Job Group</label>
                                </td>
                                <td>
                                    <select name="JobGroup" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td>
                                    <label>JobGrade</label>
                                </td>
                                <td>
                                    <select name="JobGrade" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td>
                                    <label>JobStatus</label>
                                </td>
                                <td>
                                    <select name="JobStatus" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Position Applied For</label>
                                </td>
                                <td>
                                    <select name="PositionAppliedFor" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td>
                                    <label>Field Of Specialization</label>
                                </td>
                                <td>
                                    <select name="FieldOfSpecialization" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                        </table>

                        <br /><br />
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br /><br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("FileDetailsGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>















