@model IEnumerable<CaresoftHMISDataAccess.HRIncidentType>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.IncidentCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncidentDescription)
        </th>
        
    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.IncidentCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncidentDescription)
                </td>
               
            </tr>
        }
    </tbody>
</table>














