
@model IEnumerable<CaresoftHMISDataAccess.BranchMaster>
@{
    ViewBag.Title = "Branches";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-3">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow caresoft-panel glass">
            <div class="panel-heading">
                Branches
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form id="branches" method="post" action="@Url.Action("SaveBranchesData","Home",new {Area="HumanResource"})">

                    <label> <strong>PLEASE REGISTER BRANCHES HERE</strong></label>

                    <table class="table-form">
                        <tr>
                            <td><label>Branch Id</label></td>
                            <td>
                                <input type="number" name="BranchId" class="text-box box-sm " style="margin-bottom:3px" />
                            </td>

                            <td><label>Geographical Location</label></td>
                            <td>
                                <input type="text" name="GeographicalLocation" class="text-box box-sm" style="margin-bottom:3px" />
                            </td>
                        </tr>
                        <tr>
                            <td><label>Branch Name</label></td>
                            <td>
                                <input type="text" name="BranchName" class="text-box box-sm " style="margin-right:15px;margin-bottom:3px" />
                            </td>

                        </tr>
                    </table>

                    <br />
                    <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("BranchesGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






