@model IEnumerable<CaresoftHMISDataAccess.HRApplication>


<table class="table table-data table-condensed">

    <tr>
       <th>Edit</th>
        <th>Delete</th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewTypeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterviewTypeDescription)
        </th>

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>
                <td>Edit</td>
                <td>Deletes</td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewTypeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterviewTypeDescription)
                </td>

            </tr>
        }
    </tbody>
</table>



