
@model IEnumerable<CaresoftHMISDataAccess.HRLeaveType>
@{

    ViewBag.Title = "Casual Levels";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}

<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveLeaveTypeData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE REGISTER DIFFERENT LEAVE TYPES </strong></label>
                        <table class="form-class">
                            <tr>
                                <td><label>Leave Id</label></td>
                                <td>
                                    <input type="number" name="LeaveId" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>

                            </tr>
                            <tr>
                                <td><label>Leave Type</label></td>
                                <td>
                                    <input type="number" name="LeaveType" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>

                            </tr>
                        </table>
                        <div class="form-group">
                            <label class="info-title col-md-12" for="black_name">Leave Description<span><font color="black"><b></b></font></span></label>
                            <span id='message_full_name'></span>
                            <textarea style="width: 50%;height:70px;" name="LeaveDescription" class="text-box unicase-form-control text-input" id="extension_number"
                                      placeholder="Enter plan">
                                        
                                    </textarea>

                            <br /><br />
                            <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                        </div>
                    </form>
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("LeaveTypesGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









