
@model IEnumerable<CaresoftHMISDataAccess.HRManagement>
@{

    ViewBag.Title = "Management Hierachies";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}


<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary  caresoft-panel glass">
            <div class="panel-heading">
                Management Hierachies
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form id="task" method="post" action="@Url.Action("SaveManagementHierachiesData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE  REGISTER YOUR MANAGEMENT HIERACHIES  HERE</strong></label>

                        <table>
                            <tr>
                                <td><label>Management Level Id</label></td>
                                <td>
                                    <input type="number" name="ManagementLevelId" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>
                                <td class="">
                                    <p>Department</p>
                                </td>
                                <td>
                                    <select name="Department" class="text-box box-lg ">
                                        <option>All</option>
                                        @foreach (var r in departments)
                                        {
                                            <option>@r.DepartmentName</option>
                                        }
                                    </select>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Sections</label>
                                </td>
                                <td>
                                    <select name="Section" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td>
                                    <label>Main Management Level</label>
                                </td>
                                <td>
                                    <select name="MainManagementLevel" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Management Level Designation</label></td>
                                <td>
                                    <input type="number" name="ManagementLevelDesignation" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>
                            </tr>

                        </table>
                        <div class="form-group">
                            <label class="info-title col-md-12" for="black_name">Comments<span><font color="black"><b></b></font></span></label>
                            <span id='message_full_name'></span>
                            <textarea style="width: 50%;height:70px;" name="Comments" class="text-box unicase-form-control text-input" id="extension_number"
                                      placeholder="Enter plan">
                                        
                                    </textarea>
                            <br /><br />
                            <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                        </div>
                    </form>

                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("ManagementHierachiesGrid")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>












