@model IEnumerable<CaresoftHMISDataAccess.HRManagement>


<table class="table table-data table-condensed">

    <tr>
        <th>Edit</th>
        <th>Delete</th>
        <th>
            @Html.DisplayNameFor(model => model.ManagementCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagementLevel)
        </th>


    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>
                <td>Edit</td>
                <td>Delete</td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagementCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagementLevel)
                </td>

            </tr>
        }
    </tbody>
</table>










