
@model IEnumerable<CaresoftHMISDataAccess.HROperatorCheckOff>
@{

    ViewBag.Title = "Operator";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_ContractTerminationNav.cshtml")
</div>

<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveOperatorData","Home",new {Area="HumanResource"})">

                        <table class="table-form">

                            <tr>
                                <td><label>Operator Id</label></td>
                                <td>
                                    <input type="number" name="OperatorId" class="text-box box-lg" />
                                </td>
                                <td><label>Operator Name</label></td>
                                <td>
                                    <input type="text" name="OperatorName" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Mobile</label></td>
                                <td>
                                    <input type="number" name="Mobile" class="text-box box-lg" />
                                </td>
                                <td><label>Contact Person</label></td>
                                <td>
                                    <input type="text" name="ContactPerson" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Bank</label></td>
                                <td>
                                    <input type="text" name="Bank" class="text-box box-lg" />
                                </td>
                                <td><label>Email Address</label></td>
                                <td>
                                    <input type="text" name="EmailAddress" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Location Of Building</label></td>
                                <td>
                                    <input type="text" name="LocationOfBuilding" class="text-box box-lg" />
                                </td>
                                <td><label>Floor</label></td>
                                <td>
                                    <input type="text" name="Floor" class="text-box box-lg" />
                                </td>
                                
                            </tr>
                            <tr>
                                <td><label>Court</label></td>
                                <td>
                                    <input type="text" name="Court" class="text-box box-lg" />
                                </td>
                            </tr>
                        </table>
                                <div class="form-group">
                                    <label class="info-title col-md-12" for="black_name"><strong>Terms And Conditions</strong><span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:250px;height:70px;" name="TermsAndConditions" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </div>
                           
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                     @Html.Partial("OperatorGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
















