
@model IEnumerable<CaresoftHMISDataAccess.HRPosting>
@{

    ViewBag.Title = "Postings";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_InternalCommunicationNav.cshtml")
</div>

<div class="col-md-7">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SavePostingsData","Home",new {Area="HumanResource"})">

                        <table class="table-form">

                            <tr>
                                <td><label>Date Of Posting</label></td>
                                <td>
                                    <input type="date" name="DateOfPosting" class="text-box box-lg" />
                                </td>
                                <td>
                                    <label>Duty Station</label>
                                </td>
                                <td>
                                    <select name="DutyStation" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>RolesAndResposibilities</label>
                                </td>
                                <td>
                                    <select name="RolesAndResposibilities" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                                <td>
                                    <label>Designation</label>
                                </td>
                                <td>
                                    <select name="Designation" class="text-box box-lg">
                                        <option>Select</option>

                                    </select>
                                </td>
                            </tr>
                            </table>
                                <div class="form-group">
                                    <label class="info-title col-md-12" for="black_name"><strong>Terms Of Service</strong><span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:250px;height:70px;" name="TermsOfService" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </div>
                           <table class="table-form">
                            <tr>
                                <td><label>Expected Date Of Appraisal</label></td>
                                <td>
                                    <input type="date" name="ExpectedDateOfAppraisal" class="text-box box-lg" />
                                </td>
                            </tr>
                            
                            <tr><td><label><strong>Objectives & Key Performance Indicators</strong></label></td></tr>
                            <tr>
                                <td><label>Session</label></td>
                                <td>
                                    <input type="text" name="Session" class="text-box box-lg" />
                                </td>
                                <td><label>ExpectedKPIs</label></td>
                                <td>
                                    <input type="text" name="ExpectedKPIs" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Date</label></td>
                                <td>
                                    <input type="date" name="Date" class="text-box box-lg" />
                                </td>
                                <td><label>Comment</label></td>
                                <td>
                                    <input type="text" name="Comment" class="text-box box-lg" />
                                </td>
                            </tr>
                        </table>
                        <br />

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("PostingsGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



















