
@model IEnumerable<CaresoftHMISDataAccess.HRStaffProfessionalQualification>
@{

    ViewBag.Title = "Professional Qualification";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_SideNav.cshtml")
</div>

<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary  caresoft-panel glass">
            <div class="panel-heading">
                Professional Qualification
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form id="tests" method="post" action="@Url.Action("SaveProfessionalQuaificationsData","Home",new {Area="HumanResource"})">
                       
                        <table>
                            <tr>
                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>

                                <td><label>Course</label></td>
                                <td>
                                    <input type="text" name="Course" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            <tr>
                            <tr>

                                <td><label>DateOfQualification</label></td>
                                <td>
                                    <input type="date" name="DateOfQualification" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td><label>Course Title</label></td>
                                <td>
                                    <input type="text" name="CourseTitle" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            <tr>

                                <td><label>Institution</label></td>
                                <td>
                                    <input type="text" name="Institution" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td><label>Grade</label></td>
                                <td>
                                    <input type="text" name="Grade" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <label class="info-title col-md-12" for="black_name">Remarks<span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:150%;height:70px;" name="Remarks" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                    </td>
                            </tr>
                        </table>
                        <br /><br />
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br /><br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("StaffProfessionalQualificationGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

















