
@model IEnumerable<CaresoftHMISDataAccess.  HRResourseAccess>
@{
    
    ViewBag.Title = "Resource Access Control";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-3">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow caresoft-panel glass">
            <div class="panel-heading">
                Resource Access Control
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form  method="post" action="@Url.Action("SaveResourceAccessData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE REGISTER YOUR RESOURCES HERE</strong></label>

                        <table class="table-form">
                            <tr>
                                <td><label>Resource Id</label></td>
                                <td>
                                    <input type="number" name="ResourceId" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td><label>Resource Type</label></td>
                                <td>
                                    <input type="text" name="ResourceType" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                        </table>

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />

                    </form>
                     <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("ResourceAccessGrid")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>












