
@model IEnumerable<CaresoftHMISDataAccess.HRInsuranceCover>
@{

    ViewBag.Title = "Retirement Benefits";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-3">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveRetirementBenefitsData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE REGISTER RETIREMENT BENEFITS HERE </strong></label>
                        <table class="table-form">
                            <tr>
                                <td><label>Benefit Id</label></td>
                                <td>
                                    <input type="text" name="BenefitId" class="text-box box-lg " />
                                </td>
                            
                                <td><label>Description</label></td>
                                <td>
                                    <input type="text" name="Description" class="text-box box-lg " />
                                </td>
                                
                            </tr>
                            
                        </table>
                        <div class="form-group">
                            <label class="info-title col-md-12" for="black_name"><strong>Comments</strong><span><font color="black"><b></b></font></span></label>
                            <span id='message_full_name'></span>
                            <textarea style="width: 50%;height:70px;" name="Comments" class="text-box unicase-form-control text-input" id="extension_number"
                                      placeholder="Enter plan">
                                        
                                    </textarea>

                            <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                        </div>
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("RetirementBenefitsGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









