@model IEnumerable<CaresoftHMISDataAccess.HRStaffLoanType>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.LoanCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.LoanCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>

            </tr>
        }
    </tbody>
</table>









