@model Caresoft2._0.CustomData.HRRegistrationData
@{ViewBag.ShowTopMenu = true;
    CaresoftHMISDataAccess.CaresoftHMISEntities db = new CaresoftHMISDataAccess.CaresoftHMISEntities();
}
@{
    var departments = (List<CaresoftHMISDataAccess.Department>)ViewBag.Departments;
}

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary caresoft-panel">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="tab-content" id="reg-form-holder">
                        <div id="personal-details" class="tab-pane fade in active">
                            <form name="" action="" method="post" id="staff_reg_form">
                                <fieldset class="">
                                    <legend>Personal Details</legend>
                                    <table class="table-form">
                                        <tr>
                                            <td>
                                                <label for="StaffId">Staff Id</label>
                                            </td>
                                            <td>
                                                <input type="text" readonly disabled class="text-box box-lg" id="StaffId" name="StaffId" />
                                            </td>

                                            <td>
                                                <label for="FirstName">First Name</label>
                                            </td>
                                            <td>
                                                <select required class="text-box" name="Salutation" id="patient-salutation">

                                                    @foreach (var saluts in Model.Salutations)
                                                    {
                                                        <option>@saluts.SalutationName</option>
                                                    }
                                                </select>
                                                <input type="text" class="text-box" name="FirstName" id="FirstName" required />

                                            </td>
                                        <tr>
                                            <td>
                                                <label for="OtherNames">Other Names:</label>
                                            </td>
                                            <td>
                                                <input type="text" class="text-box box-lg" name="OtherNames" id="OtherNames" />

                                            </td>

                                            <td><label for="Surname">Surname:</label></td>
                                            <td>
                                                <input type="text" class="text-box box-lg" name="Surname" id="Surname" required />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <label for="Mobile">Mobile Number</label>
                                            </td>
                                            <td>
                                                <input type="number" class="text-box box-lg" id="Mobile" name="Mobile" required />
                                            </td>
                                            <td>
                                                <label for="Email">Email</label>
                                            </td>
                                            <td>
                                                <input type="email" class="text-box box-lg" id="Email" name="Email" />
                                            </td>

                                        </tr>
                                        <tr>
                                            <td class="">
                                                <p>Department Name</p>
                                            </td>
                                            <td>
                                                <select name="Department" class="text-box box-lg ">
                                                    <option>All</option>
                                                    @foreach (var r in departments)
                                                    {
                                                        <option>@r.DepartmentName</option>
                                                    }
                                                </select>

                                            </td>
                                            <td>
                                                <label for="Position">Position</label>
                                            </td>
                                            <td>
                                                <input type="text" class="text-box box-lg" id="Position" name="Position" />
                                            </td>

                                        </tr>
                                        <tr>

                                            <td>
                                                <label for="DateOfEmployment">Date Of Employment</label>
                                            </td>
                                            <td>
                                                <input type="date" class="text-box box-lg" id="DateOfEmployment" name="DateOfEmployment" />
                                            </td>

                                            <td>
                                                <label for="RegDate">Registration Date</label>
                                            </td>
                                            <td>
                                                <input type="date" id="RegDate" name="RegDate" required class="text-box box-lg" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                            </td>

                                        </tr>
                                    </table>

                                    <div class="row">
                                        <div class="col-xs-12" style="margin-top:16px">
                                            <button type="submit" title="Save" class="btn btn-primary" id="save-btn">
                                                <i class="fa fa-save fa-2x"></i>
                                            </button>

                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>

                </div>




            </div>
        </div>
    </div>
</div>