
@model IEnumerable<CaresoftHMISDataAccess.HRStaffReferee>

<div class="col-md-12">
    <div class="">
        <div class="panel panel-primary shadow caresoft-panel glass">
            <div class="panel-heading">
                Referees
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form method="post" action="@Url.Action("SaveStaffRefereesData","Home",new {Area="HumanResource"})">
                        <table class="table-form">
                            <tr>
                                <td><label>Staff Id</label></td>

                                <td><input type="text" name="StaffId" class="text-box box-lg " /></td>
                            </tr>
                        </table>
                         <label><strong>Referees Details</strong></label>
                        <br />

                        <table class="table-form">
                            <tr>
                                <td><label>Name</label></td>
                                <td>
                                    <input type="text" name="Name" class="text-box box-lg "  />
                                </td>
                                <td><label>Organization</label></td>
                                <td>
                                    <input type="text" name="Organization" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Title</label></td>
                                <td>
                                    <input type="text" name="Title" class="text-box box-lg "  />
                                </td>
                                <td><label>Postal Address</label></td>
                                <td>
                                    <input type="text" name="PostalAddress" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Telephone</label></td>
                                <td>
                                    <input type="number" name="Telephone" class="text-box box-lg " />
                                </td>
                                <td><label>Remarks</label></td>
                                <td>
                                    <input type="text" name="Remarks" class="text-box box-lg "  />
                                </td>
                            </tr>
                        </table>
                        <label> <strong>Leadership</strong></label>
                        <table class="table-form">
                            <tr>
                                <td><label>Club</label></td>
                                <td>
                                    <input type="text" name="Club" class="text-box box-lg "  />
                                </td>
                                <td><label>Position</label></td>
                                <td>
                                    <input type="text" name="Position" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Begin Date</label></td>
                                <td>
                                    <input type="date" name="BeginDate" class="text-box box-lg "/>
                                </td>
                                <td><label>End Date</label></td>
                                <td>
                                    <input type="date" name="EndDate" class="text-box box-lg "/>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Remarks</label></td>
                                <td>
                                    <input type="text" name="Remarks1" class="text-box box-lg " />
                                </td>
                                <td> <label> <b>Upload Supporting Documents(IF ANY)</b></label> </td>
                                <td>
                                    <input type="file" class="text-box box-lg" id="Filename" value="" name="Filename" />
                                </td>
                            </tr>
                            
                        </table>
                        
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("StaffRefereeGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>














