
@model IEnumerable<CaresoftHMISDataAccess.HRUnion>
@{
           
                ViewBag.Title = "Union Subscription Periodicity ";
                ViewBag.showTopMenu = true;
                ViewBag.WideView = true;
                Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-3">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow caresoft-panel glass">
            <div class="panel-heading">
                Union Subscription Periodicity
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form id="branches" method="post" action="@Url.Action("SaveSubscriptionPeriodicityData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE SETUP PERIODICITY FOR UNION SUBSRIPTION</strong></label>

                        <table class="table-form">
                            <tr>
                                <td><label>Periodicity Code </label></td>
                                <td>
                                    <input type="number" name="PeriodicityCode" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Periodicity Description</label></td>
                                <td>
                                    <input type="text" name="PeriodicityDescription" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>

                            </tr>

                        </table>

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />

                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("SubscriptionGrid")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>











