
@model IEnumerable<CaresoftHMISDataAccess.HRTest>
@{

    ViewBag.Title = "Tests";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

    CaresoftHMISDataAccess.CaresoftHMISEntities db = new CaresoftHMISDataAccess.CaresoftHMISEntities();
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/Shared/_JobRequisitionNav.cshtml")
</div>

<div class="col-md-6">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading">
                Tests
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form method="post" action="@Url.Action("SaveTestsData","Home",new {Area="HumanResource"})">

                        <table class="table-form">
                            <tr>
                                <td><label>Test Id</label></td>
                                <td>
                                    <input type="text" name="TestId" class="text-box box-lg " readonly value="TS/@db.HRTests.Count()" />
                                </td>
                                <td><label>Description</label></td>
                                <td>
                                    <input type="text" name="Description" class="text-box box-lg "  />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Objective</label></td>
                                <td>
                                    <input type="text" name="Objective" class="text-box box-lg " />
                                </td>
                                <td><label>Date Of Test</label></td>
                                <td>
                                    <input type="date" name="DateOfTest" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>

                                <td><label>Supervisor</label></td>
                                <td>
                                    <input type="text" name="Supervisor" class="text-box box-lg " />
                                </td>

                                <td><label>Scores</label></td>
                                <td>
                                    <input type="text" name="Scores" class="text-box box-lg " />
                                </td>

                            </tr>
                            <tr>
                                <td><label>Total Weighted Score</label></td>
                                <td>
                                    <input type="text" name="TotalWeightedScore" class="text-box box-lg " />
                                </td>
                                <td>
                                    <label>Interview Decisison</label>
                                </td>
                                <td>
                                    <select name="InterviewDecisison" class="text-box box-lg">
                                        <option>Select</option>
                                        <option>Disposed</option>
                                        <option>Filed</option>
                                        <option>Postponed</option>
                                        <option>Rescheduled</option>
                                        <option>Still Open</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                                <div class="form-group">
                                    <label class="info-title col-md-12" for="black_name"><strong>Remarks</strong><strong></strong><span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width: 250px;height:70px;" name="Remarks" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </div>
                         
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("TestsGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










