
@model IEnumerable<CaresoftHMISDataAccess.HRTest>
@{

    ViewBag.Title = "Tests";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary  caresoft-panel glass">
            <div class="panel-heading">
                Tests
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form id="tests" method="post" action="@Url.Action("SaveTestsData","Home",new {Area="HumanResource"})">

                        <table>
                            <tr>
                                <td><label>TestId</label></td>
                                <td>
                                    <input type="number" name="TestId" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td><label>Description</label></td>
                                <td>
                                    <input type="text" name="Description" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Objective</label></td>
                                <td>
                                    <input type="text" name="Objective" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td><label>Date Of Test</label></td>
                                <td>
                                    <input type="date" name="DateOfTest" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                            </tr>
                            <tr>
                                
                                <td><label>Supervisor</label></td>
                                <td>
                                    <input type="text" name="Supervisor" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                           
                                <td><label>Scores</label></td>
                                <td>
                                    <input type="text" name="Scores" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                
                            </tr>
                            <tr>
                                <td><label>Total Weighted Score</label></td>
                                <td>
                                    <input type="number" name="TotalWeightedScore" class="text-box box-lg " style="margin-bottom:3px" />
                                </td>
                                <td>
                                    <label>Interview Decisison</label>
                                </td>
                                <td>
                                    <select name="InterviewDecisison" class="text-box box-lg">
                                        <option>Select</option>
                                        <option>Disposed</option>
                                        <option>Filed</option>
                                        <option>Postponed</option>
                                        <option>Rescheduled</option>
                                        <option>Still Open</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <label class="info-title col-md-12" for="black_name">Remarks<strong></strong><span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width: 250%;height:120px;" name="Remarks" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </td>
                                
                            </tr>
                        </table>

                        <br /><br />
                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br /><br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("TestsGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>










