
@model IEnumerable<CaresoftHMISDataAccess.HRInsuranceCover>
@{

    ViewBag.Title = "Types of Claim";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveTypesOfClaimsData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE REGISTER TYPES OF CLAIMS HERE </strong></label>
                        <table class="form-class">
                            <tr>
                                <td><label>Claim Id</label></td>
                                <td>
                                    <input type="number" name="ClaimId" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Claim Description</label></td>
                                <td>
                                    <input type="text" name="ClaimDescription" class="text-box box-lg " />
                                </td>

                            </tr>
                            <tr>
                                <td><label>Company to claim from</label></td>
                                <td>
                                    <input type="text" name="CompanyToClaimFrom" class="text-box box-lg " />
                                </td>

                            </tr>
                        </table>
                        <div class="form-group">
                            <label class="info-title col-md-12" for="black_name">Remarks<span><font color="black"><b></b></font></span></label>
                            <span id='message_full_name'></span>
                            <textarea style="width: 50%;height:70px;" name="Remarks" class="text-box unicase-form-control text-input" id="extension_number"
                                      placeholder="Enter plan">
                                        
                                    </textarea>

                            <br />
                            <br />
                            <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                        </div>
                    </form>
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("TypesOfClaimsGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









