@model IEnumerable<CaresoftHMISDataAccess.HRDisplinaryAction>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ActionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActionDescription)
        </th>

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ActionCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActionDescription)
                </td>

            </tr>
        }
    </tbody>
</table>












