@model IEnumerable<CaresoftHMISDataAccess.HRUnion>


<table class="table table-data table-condensed">

    <tr>

        <th>
            @Html.DisplayNameFor(model => model.AuthorityCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorityDescription)
        </th>

    <tbody class="bg-white">
        @foreach (var item in Model.OrderByDescending(e => e.Id))
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.AuthorityCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorityDescription)
                </td>

            </tr>
        }
    </tbody>
</table>




