
@model IEnumerable<CaresoftHMISDataAccess.HRUnionDeregistration>
@{

    ViewBag.Title = "Union De-Registration";
    ViewBag.showTopMenu = true;
    ViewBag.WideView = true;
    Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";
}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>

<div class="col-md-7">
    <div class="">
        <div class="panel panel-primary shadow glass caresoft-panel">
            <div class="panel-heading custom-navbar">
                <p>@ViewBag.Title</p>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">

                    <form id="country" method="post" action="@Url.Action("SaveUnionDeregistrationData","Home",new {Area="HumanResource"})">
                        
                        <table class="table-form">

                            <tr>
                                <td><label>Union Id</label></td>
                                <td>
                                    <input type="number" name="UnionId" class="text-box box-lg" />
                                </td>
                                <td><label>De-register Staff</label></td>
                                <td>
                                    <input type="radio" name="DeregisterStaff" />
                                </td>
                            </tr>
                            <tr>

                                <td><label>Staff Id</label></td>
                                <td>
                                    <input type="number" name="StaffId" class="text-box box-lg" />
                                </td>
                                <td>
                                    <label>Reason</label>
                                </td>
                                <td>
                                    <select name="Reason" class="text-box box-lg">
                                        <option>Select</option>
                                        <option>Displinary</option>
                                        <option>Death</option>
                                        <option>Resignation</option>
                                        <option>Retirement</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Date Of Deregistration</label></td>
                                <td>
                                    <input type="date" name="DateOfDeregistration" class="text-box box-lg" />
                                </td>
                                <td>
                                    <label>Deregistering Authority</label>
                                </td>
                                <td>
                                    <select name="DeregisteringAuthority" class="text-box box-lg">
                                        <option>Select</option>
                                        <option>National Office</option>
                                        <option>Regional Office</option>
                                        <option>Local Office</option>
                                       
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-group">
                                    <label class="info-title col-md-12" for="black_name">Comment On Deregistration Reasons<span><font color="black"><b></b></font></span></label>
                                    <span id='message_full_name'></span>
                                    <textarea style="width:150%;height:70px;" name="CommentOnDeregistrationReasons" class="text-box unicase-form-control text-input" id="extension_number"
                                              placeholder="Enter plan">
                                        
                                    </textarea>
                                </td>
                            </tr>
                        </table>
                        <br />

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                    </form>
                    <br />
                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("UnionDeregistrationGrid")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

















