
@model IEnumerable<CaresoftHMISDataAccess.HRUnion>
@{
              
                ViewBag.Title = "Union Termination ";
                ViewBag.showTopMenu = true;
                ViewBag.WideView = true;
                Layout = "~/Areas/HumanResource/Views/Shared/_Layout.cshtml";

}
<div class="col-md-2">
    @Html.Partial("~/Areas/HumanResource/Views/_SideNav.cshtml")
</div>
<div class="col-md-8">
    <div class="">
        <div class="panel panel-primary  caresoft-panel glass">
            <div class="panel-heading">
                Union Termination
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <form id="branches" method="post" action="@Url.Action("SaveUnionTerminationData","Home",new {Area="HumanResource"})">

                        <label> <strong>PLEASE ENTER THE STARNDARD REASONS</strong></label>

                        <table>
                            <tr>
                                <td><label>ReasonCode </label></td>
                                <td>
                                    <input type="number" name="ReasonCode" class="text-box box-sm " style="margin-bottom:3px" />
                                </td>
                            </tr>

                        </table>
                        <div class="form-group">
                            <label class="info-title col-md-12" for="black_name">Description<span><font color="black"><b></b></font></span></label>
                            <span id='message_full_name'></span>
                            <textarea style="width: 50%;height:70px;" name="Description" class="text-box unicase-form-control text-input" id="extension_number"
                                      placeholder="Enter plan">
                                        
                                    </textarea>
                            <br /><br />
                            <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                        </div>
                    </form>

                    <div id="ipd-list" class="scrollable-table-container">
                        @Html.Partial("UnionTerminationGrid")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>










