
@model IEnumerable<CaresoftHMISDataAccess.HRWorkExperience>

<div class="col-md-12">
    <div class="">
        <div class="panel panel-primary  caresoft-panel glass">
            <div class="panel-heading">
                Work Experience
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    @using (Html.BeginForm("SaveWorkExperienceData", "Home", new { Area = "HumanResource" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <table class="table-form">
                            <tr>
                                <td><label>Applicant Id</label></td>
                                <td>
                                    <input type="text" name="ApplicantId" class="text-box box-lg " />
                                </td>

                            </tr>

                            <tr>
                                <td><label>Begin Date</label></td>
                                <td>
                                    <input type="date" name="BeginDate" class="text-box box-lg " />
                                </td>
                                <td><label>End Date</label></td>
                                <td>
                                    <input type="date" name="EndDate" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Employer</label></td>
                                <td>
                                    <input type="text" name="Employer" class="text-box box-lg " />
                                </td>
                                <td><label>Position</label></td>
                                <td>
                                    <input type="text" name="Position" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Salary</label></td>
                                <td>
                                    <input type="number" name="Salary" class="text-box box-lg " />
                                </td>
                                <td><label>Remarks</label></td>
                                <td>
                                    <input type="text" name="Remarks" class="text-box box-lg " />
                                </td>
                            </tr>
                            <tr>
                                <td> <label> <b>Upload Recommendation Documents</b></label> </td>
                                <td>
                                    <input type="file" class="text-box box-lg" id="Filename" value="" name="Filename" />
                                </td>
                            </tr>
                        </table>

                        <input id="Button1" class="btn btn-sm btn-primary" type="submit" style="margin-right:100px" value="Save" />
                      <br />
                        <br />
                        <div id="ipd-list" class="scrollable-table-container">
                            @Html.Partial("WorkExperienceGrid")
                        </div>
                    }}
                    </div>
            </div>
        </div>
    </div>
</div>












