
<div class="panel panel-primary caresoft-panel ">
    <div class="panel-heading">
        <strong>
            Patient Appointment
        </strong>
    </div>

    <div class="panel-body">
        <div class="list-group" id="appointments-list-tab" role="tablist">

            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="/Appointments/Home/DoctorLeave" role="tab" aria-controls="home"> <img src="~/Areas/Appointments/Images/Patient.png" /> &nbsp; Set Doctors Leave</a>
            <a class="list-group-item list-group-item-action isActive" id="list-home-list" data-toggle="list" href="/Appointments/Home/Index" role="tab" aria-controls="home"> <img src="~/Areas/Appointments/Images/Patient.png" /> &nbsp; Set Doctors Schedule</a>
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="/Appointments/Home/Patient_Appointment" role="tab" aria-controls="home"> <img src="~/Areas/Appointments/Images/Patient.png" /> &nbsp; Set Patient Appointment</a>
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="/Appointments/Home/ViewAppointment" role="tab" aria-controls="home"><img src="~/Areas/Appointments/Images/Patient.png" /> &nbsp; View/Set Status Appointments</a>
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="/Appointments/Home/AppointmentReport" role="tab" aria-controls="home"> <img src="~/Areas/Appointments/Images/Patient.png" /> &nbsp; Appointments Report</a>

        </div>
    </div>
</div>


