@model IEnumerable<CaresoftHMISDataAccess.Company>

@{ 
    var insurance = (List<CaresoftHMISDataAccess.Company>)ViewBag.Insurance;
}
@{
    ViewBag.Title = "Statement of Account per Department Report";
    Layout = "~/Areas/CareSoftReports/Views/Shared/_LayoutReports.cshtml";
    ViewBag.ReportName = ViewBag.Title;
}

<style>
    .text-box {
        width: 200px;
    }
</style>
<div class="col-md-8 col-sm-offset-2">
    <div class="panel panel-primary glass caresoft-panel">
        <div class="panel-heading">
            <h4>@ViewBag.ReportName</h4>
            Set report filters and click download.
        </div>
        <div class="panel-body">
            <form name="ReportFilter" id="ReportFilter" method="get" action="@Url.Action("GetAccountsPerDepartmentReport","AccountPerDepartment",new {Area="CareSoftReports"})">
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="">
                                <p>Select Year</p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <select class="text-box box-lg box-lg" name="Year" required style="margin:2px">
                                <option></option>
                                <option value=2018>2018</option>
                                <option value=2019>2019</option>
                                <option value=2020>2020</option>
                            </select>
                        </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <div class="">
                                <p>Select Month</p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <select class="text-box box-lg box-lg" name="selectMonth" style="margin:2px">
                                /<option></option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                        </div>
                    </div>   
                    </div>

                        <div class="row">
                            <div id="Department" class="col-md-6">
                                <br />
                                <div class="col-md-4">
                                    <div class="">
                                        <p>Insurance Scheme</p>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <select name="Insurance" class="text-box box-lg box-lg">
                                        <option>ALL</option>
                                        @foreach (var r in insurance)
                                        {
                                            <option>@r.CompanyName</option>
                                        }
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <br />
                            <div class="col-md-6">
                                <div id="Department" class="form-inline">
                                    <div class="col-md-4">
                                        <label class="">Select Download Format </label>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                </div>

                                <div class="col-md-6">
                                    <div class="">
                                        <select name="Format" id="dept" class="text-box">
                                            <option>PDF</option>
                                            @*<option>EXCEL</option>*@
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">

                            <button type="submit" class="btn btn-primary btn-sm ">DOWNLOAD</button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>



@section scripts{

    <script>


    </script>

}




