
@{
    ViewBag.Title = "Bed Cleaning Request";
    Layout = "~/Views/Shared/_NurseModuleLayout.cshtml";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary caresoft-panel">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                

                <table class="table table-data table-condensed marg-top-16px">
                    <thead>
                        <tr>
                            <th>Floor</th>
                            <th>Room No</th>
                            <th>Bed Name</th>
                            <th>Bed No</th>
                            <th>Approve</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        <tr>
                            <td colspan="5" align="center">
                                <label>No data at the moment</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>