
@{
    ViewBag.Title = "DepartmentOutPatientAttendanceDepartmentOutPatientAttendance";
    Layout = "~/Areas/CareSoftReports/Views/Shared/_LayoutReports.cshtml";
}

<h2>DepartmentOutPatientAttendanceDepartmentOutPatientAttendance</h2>

