
@{
    ViewBag.Title = "Clinical";
    Layout = "~/Areas/PatientModule/Views/Shared/_Layout.cshtml";
}

<div class="panel-body panel panel-primary">
    <div>
        <div class="col-md-4">
            <label>Reg No.</label>
            <input id="RegNo" class="text-center" />
        </div>
        <div class="col-md-4">
            <label>Patient Name</label>
            <input id="PatientName" class="text-center" />
        </div>
    </div>
    <div class="margin-top col-md-10" style="overflow:auto">
        <table class="table table-bordered">
            <tr>
                <th>OPD/IPD Number</th>
                <th>Type</th>
                <th>Entry Date</th>
                <th>Entry Time</th>
                <th>Doctor Incharge</th>
                <th>Ref Doctor</th>
                <th>Complaints</th>
                <th>Provisional Diagnosis</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
                <th>History</th>
                <th>Examination</th>
                <th>Non Drug Advice</th>
                <th>Print</th> 
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>
