
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/PatientModule/Views/Shared/_Layout.cshtml";
}

<div class="btn-box-row row-fluid">
    <a href="#" class="btn-box big span4">
        <i class=" icon-random"></i><b>12 Jan 2019</b>
        <p class="text-muted">
            Date Of Admission
        </p>
    </a>
    <a href="#" class="btn-box big span4">
        <i class="icon-user"></i><b>15</b>
        <p class="text-muted">
            No Of Days
        </p>
    </a>
    <a href="#" class="btn-box big span4">
        <i class="icon-money"></i><b>15,152</b>
        <p class="text-muted">
            Bill(Ksh)
        </p>
    </a>
</div>

<div class="module">
    <div class="module-head">
        <h3>
            Chart
        </h3>
    </div>
    <div class="module-body">
        <div class="chart inline-legend grid">
            <div id="placeholder2" class="graph" style="height: 500px">
            </div>
        </div>
    </div>
</div>