
@{
    ViewBag.Title = "LabReport";
    Layout = "~/Areas/PatientModule/Views/Shared/_Layout.cshtml";
}

<div class="panel-body panel panel-primary">
    <div>
        <div class="col-md-4">
            <label>Reg No.</label>
            <input id="RegNo" class="text-center" />
        </div>
        <div class="col-md-4">
            <label>Patient Name</label>
            <input id="PatientName" class="text-center" />
        </div>
    </div>
    <div class="margin-top col-md-10" style="overflow:auto">
        <table class="table table-bordered">
            <tr>
                <th>Lab No</th>
                <th>Type</th>
                <th>Entry Date</th>
                <th>Entry Time</th>
                <th>TL Code</th>
                <th>Title</th>
                <th>Checked</th>
                <th>Print</th>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>

