@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = "CareSoftReports";

}


<style>
    .btn-sm {
        font-weight: bolder;
    }
</style>

<div class="container-fluid">

    <div class="col-md-12">
        <div class="row">
            @RenderBody()
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Scripts/Caresoft.js"></script>


@RenderSection("scripts", required: false)
