
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Payroll/Views/Shared/_Layout.cshtml";

}

<div class="col-md-12">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <table width="100%">
                    <tr>
                        <td align="center">
                            <a href="~/HumanResource/Home/DashBoard">
                                <img style="border-radius:10px" width="100px;" height="100px" src="~/Content/icons/dashboard/user-management.png" />
                                <p style="padding:10px">HR</p>
                            </a>
                        </td>
                        <td align="center">
                            <a href="">
                                <img style="border-radius:10px" width="100px;" height="100px" src="~/Content/icons/dashboard/Budget.png" />
                                <p style="padding:10px">PAYROLL</p>
                            </a>
                        </td>
                        
                </table>
            </div>
        </div>
    </div>
</div>

