
@{
    ViewBag.Title = "Pathology";
    ViewBag.ShowTopMenu = true;
    Layout = "~/Areas/Pathology/Views/Shared/_LayoutPathology.cshtml";
}

<div style="min-height:75vh; background: url('http://kiambucounty.quanta-his.com/Images/Master/image.jpg');"></div>

