
@{
    ViewBag.Title = "AllocateDoctorsInvoices";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;
}
<div class="col-md-2">
    @Html.Partial("~/Areas/Accounting/Views/Shared/CreditorsOperationsLeftPanel.cshtml")
</div>
<div class="col-md-8">

    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Allocate Doctor's Bills
            </div>
            <div class="panel-body">
                <form>
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    Doctor's Name:
                                </td>
                                <td>
                                    <select name="DocName" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option>--Select--</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <input type="checkbox" value="ComfirmPeriod" /> Confirm Period
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>
                                        Period From:
                                    </label>
                                </td>
                                <td>
                                    <input type="date" name="PeriodFrom" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp; Period To:
                                </td>
                                <td>
                                    <input type="date" name="PeriodTo" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Voucher No:
                                </td>
                                <td>
                                    <input type="number" name="VoucherNo" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp; Doctors No:
                                </td>
                                <td>
                                    <input type="number" name="DocNo" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    ChequeNo:
                                </td>
                                <td>
                                    <input type="number" name="ChequeNo" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp; Amount:
                                </td>
                                <td>
                                    <input type="number" name="Amount" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>

                            </tr>
                        </table>

                    </div>
                    &nbsp;
                    <div class="col-md-12">
                        <table class="table table-data-pathology table-condensed">
                            <tr>
                                <th>Date</th>
                                <th>Inv No</th>
                                <th>Patient No & name</th>
                                <th>Orig. Amount</th>
                                <th>Amount to Allocate</th>
                                <th>Doctor's fee</th>
                                <th>Allocate</th>
                            </tr>
                            <tbody style="background-color: white">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="checkbox" name="Allocate" value="Allocate" style="width:100%" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    Allocatable Balance:
                                </td>
                                <td>
                                    <input type="number" name="AllocatableBalance" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary bn-sm margin-top-bottom-2">Allocate</button>
                        <button type="reset" class="btn btn-default margin-top-bottom-2">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
