
@{
    ViewBag.Title = "ApproveBills";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;
}

<div class="col-md-2">
</div>
<div class="col-md-8">

    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Approve bills
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <table>
                        <tr>
                            <td>
                                Period From:
                            </td>
                            <td>
                                <input type="date" name="PereodFrom" class="text-box margin-top-bottom-2" style="width:100%" />
                            </td>
                            <td>
                                &nbsp; Period To:
                            </td>
                            <td>
                                <input type="date" name="PeriodTo" class="text-box margin-top-bottom-2" style="width:100%" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Supplier:
                            </td>
                            <td>
                                <select name="Supplier" class="text-box margin-top-bottom-2" style="width:100%">
                                    <option>--Select</option>
                                </select>
                            </td>
                            <td>
                                &nbsp; Acc No:
                            </td>
                            <td>
                                <input type="number" name="AccNo" class="text-box margin-top-bottom-2" style="width:100%" />
                            </td>
                        </tr>
                    </table>
                </div>
                &nbsp;
                <div class="col-md-12">
                    <table class="table table-data-pathology table-condensed">
                        <tr>
                            <th>Invoice No</th>
                            <th>Date Due</th>
                            <th>Amount</th>
                            <th>Amount Approved</th>
                            <th>Approve?</th>
                        </tr>
                        <tbody style="background-color: white">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="checkbox" value="Approve" style="width:100%" />
                                </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-sm bn-sm margin-top-bottom-2">Approve</button>
                    <button type="reset" class="btn btn-default margin-top-bottom-2">Clear</button>
                </div>
            </div>
        </div>
    </div>
</div>

