@{
    ViewBag.Title = "CreditTransfer";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;

}

<div class="col-md-2">
    @Html.Partial("~/Areas/Accounting/Views/Shared/CreditorsOperationsLeftPanel.cshtml")
</div>
<div class="col-md-7">

    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Credit Tranfer
            </div>
            <div class="panel-body">
                <form id="family-planning" method="post" action="@Url.Action("SaveCreditTransfer", "Home")">
                    <div class="col-md-12">
                            <div class="col-md-12">
                                <table class="table-form">
                                    <tr>
                                        <td>
                                            Receipt No:
                                        </td>
                                        <td>
                                            <input type="number" name="ReciptNo" class="text-box bn-lg" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp; Date:
                                        </td>
                                        <td>
                                            <input name="ReceiptDate" value="@DateTime.Now.ToString("dd-MM-yyyy")" type="date" class="text-box bn-lg" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp; Scheme&nbsp; Name:
                                        </td>
                                        <td>
                                            <input name="SchemeName" type="text" class="text-box bn-lg" style="width: 100%" />
                                        </td>
                                    </tr>
                                    <td>&nbsp;</td>
                                    <tr>
                                        <td>
                                            Account NO:
                                        </td>
                                        <td>
                                            <input name="AccountNo" class="text-box bn-lg" style="width: 100%" type="number" />
                                        </td>
                                        <td>
                                            &nbsp; Payer:
                                        </td>
                                        <td>
                                            <input type="text" name="Payer" class="text-box bn-lg" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp; Other Details:
                                        </td>
                                        <td>
                                            <input name="OtherDetails" type="text" class="text-box bn-lg" style="width: 100%" />
                                        </td>


                                    </tr>
                                    
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>

                                    
                                    <td>&nbsp;</td>
                                    <tr>
                                        <td>
                                            &nbsp; Original Balance:
                                        </td>
                                        <td>
                                            <input name="OriginalBalance" type="number" class="text-box bn-lg" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp;  Balance &nbsp; Left:
                                        </td>
                                        <td>
                                            <input type="number" name="BalanceLeft" class="text-box bn-lg" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp; Amount:
                                        </td>
                                        <td>
                                            <input name="Amount" class="text-box bn-lg" type="number" style="width: 100%" />
                                        </td>
                                    </tr>
                                </table>

                            </div>
                    </div>
                    &nbsp;
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary bn-sm">Ok</button>
                        <button type="reset" class="btn btn-default">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
