@{
    ViewBag.Title = "CreditTransfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;

}

<div class="col-md-2">
</div>
<div class="col-md-7">

    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Credit Tranfer
            </div>
            <div class="panel-body">
                <form>
                    <div class="col-md-12">
                            <div class="col-md-12">
                                <table>
                                    <tr>
                                        <td>
                                            Receipt No:
                                        </td>
                                        <td>
                                            <input name="ReciptNo" class="text-box margin-top-bottom-2" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp; Date:
                                        </td>
                                        <td>
                                            <input name="Date" type="date" class="text-box margin-top-bottom-2" style="width: 100%" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Other Details:
                                        </td>
                                        <td>
                                            <input name="otherDetaisl" class="text-box margin-top-bottom-2" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp; Scheme Name:
                                        </td>
                                        <td>
                                            <input name="SchemeName" class="text-box margin-top-bottom-2" style="width: 100%" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Scheme Name:
                                        </td>
                                        <td>
                                            <input name="Scheme" class="text-box margin-top-bottom-2" style="width: 100%" />

                                        </td>
                                        <td>
                                            &nbsp; Payer:
                                        </td>
                                        <td>
                                            <input name="Payer" class="text-box margin-top-bottom-2" style="width: 100%" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Account NO:
                                        </td>
                                        <td>
                                            <input name="AccNo" class="text-box margin-top-bottom-2" style="width: 100%" type="number" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                           
                                    <tr>
                                        <td>
                                            Payer:
                                        </td>
                                        <td>
                                            <input name="Payer" class="text-box margin-top-bottom-2" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp; Original Balance:
                                        </td>
                                        <td>
                                            <input name="OriginalBalance" class="text-box margin-top-bottom-2" style="width: 100%" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Balance Left:
                                        </td>
                                        <td>
                                            <input type="number" name="BalanceLeft" class="text-box margin-top-bottom-2" style="width: 100%" />
                                        </td>
                                        <td>
                                            &nbsp; Amount:
                                        </td>
                                        <td>
                                            <input name="Amount" class="text-box margin-top-bottom-2" type="number" style="width: 100%" />
                                        </td>
                                    </tr>
                                </table>

                            </div>
                    </div>
                    &nbsp;
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-sm bn-sm">Ok</button>
                        <button type="reset" class="btn btn-default">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
