
@{
    ViewBag.Title = "CreditorsAllocation";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;
}

<div class="col-md-2">
    @Html.Partial("~/Areas/Accounting/Views/Shared/CreditorsOperationsLeftPanel.cshtml")
</div>
<div class="col-md-8">

    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Doctors Ledger
            </div>
            <div class="panel-body">
                <form id="family-planning" method="post">

                    &nbsp;
                    <div class="col-md-12">
                        <table class="table-form">
                            <tr>
                                <td><label>From Date</label></td>
                                <td>
                                    <input type="date" class="text-box box-lg" />
                                </td>
                                <td><label>To Date</label></td>
                                <td>
                                    <input type="date" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Service</label></td>
                                <td>
                                    <input id="Service" onkeyup="searchFunction($(this))" type="text" class="text-box box-lg" />
                                </td>
                                <td><label>Quantity</label></td>
                                <td>
                                    <input id="Barcode" onkeyup="searchFunction($(this))" type="text" class="text-box box-lg" />
                                </td>
                            </tr>
                            <tr>
                                <td><label>Price</label></td>
                                <td>
                                    <input id="RegNumber" onkeyup="searchFunction($(this))" type="text" class="text-box box-lg" />
                                </td>
                                <td><label>Doctors Name</label></td>
                                <td>
                                    <input id="Name" onkeyup="searchFunction($(this))" type="text" class="text-box box-lg" />
                                </td>
                            </tr>
                        </table>
                    </div>


                </form>
                <div id="infusionList">
                    @Html.Partial("~/Areas/Accounting/Views/Home/_DoctorsLedger.cshtml")
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>


        function searchFunction(item) {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = item;
            filter = input.val().toUpperCase();
            table = document.getElementById("searchTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];

                if (input.attr('id') == 'BarCode') {
                    //td = tr[i].getElementsByTagName("td")[1];
                } else if (input.attr('id') == 'Name') {
                    td = tr[i].getElementsByTagName("td")[5];
                } else if (input.attr('id') == 'RegNumber') {
                    td = tr[i].getElementsByTagName("td")[3];
                }
                else if (input.attr('id') == 'Sevice') {
                    td = tr[i].getElementsByTagName("td")[1];
                }

                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().trim().indexOf(filter.trim()) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

}