<div id="chenge-password-modal" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form id="change-password-form">
                    <table class="table-form">
                        <tr>
                            <td>
                                <label for="CPassword">Current Password</label>
                            </td>
                            <td>
                                <input type="password" id="CPassword" name="CPassword" class="text-box" placeholder="Current Password" autocomplete="off" required />
                            </td>
                        </tr>
                        <tr>

                            <td>
                                <label for="NewPassword">New Password</label>
                            </td>
                            <td>
                                <input type="password" id="NewPassword" name="NewPassword" class="text-box" placeholder="New Password" autocomplete="off" required />
                            </td>
                        </tr>

                        <tr>

                            <td>
                                <label for="RPassword">Repeat Password</label>
                            </td>
                            <td>
                                <input type="password" id="RPassword" name="RPassword" class="text-box" placeholder="Repeat Password" autocomplete="off" required />
                                <p id="password_change_message"></p>
                            </td>
                        </tr>
                    </table>

                    <hr />
                    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn  btn-sm btn-primary">Change Password</button>
                </form>
            </div>

        </div>
    </div>
</div>
