<footer style="background-color:var(--outline-color); padding-bottom:2em;">
    <div class="">
        <br />
        <div class="text-center" style="color:#fff; border-bottom:2px solid #fff;">
            Softcom Business Solutions Ltd: Help Line No: +254-208-006556 | +254-710-638008<br />
            Email : support@softcom.co.ke | Web: <a style="color:#fff; text-decoration:underline" href="http://www.softcom.co.ke">www.softcom.co.ke</a>
        </div>

        <p class="text-center" style="color:#fff; ">&copy; @DateTime.Now.Year - Softcom Business Solutions Limited.</p>
    </div>
</footer>


@Html.Partial("_ChangePassword")
