@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.IsNurse = true;
    ViewBag.ShowTopMenu = true;
}
<div class="row">
    <div>
        @RenderBody()
    </div>
</div>

@section scripts{
    @RenderSection("scripts", required: false)
}

