
<div class="modal fade " id="sytemExamination" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="panel panel-primary shadow glass">
                    <div class="panel-heading custom-navbar">
                        <p>System Examination</p>
                    </div>
                    <div class="panel-body" style="height:40em; overflow-y:scroll;">
                        <fieldset>
                            <legend>Constitutional,Continued</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>General appearance of pa (development, nutrition body habitus, deformitie attention to grooming)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormal" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormal" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Eyes</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Conjunctivae and Lids</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalEyesConj" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalEyesConj" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Pupils and Irises</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalIrisConj" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalIrisConj" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Ears,Nose,Mouth and Throat</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Otoscopic Examination</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalOtoExa" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalOtoExa" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Hearing Assessment</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormaHearing" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormaHearing" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Inspection of Nasal Mucosa Septum, and Turbinates</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormaNasalInspection" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormaNasalInspection" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Inspection of Lips,Teeth and Gums</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormaOralInspection" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormaOralInspection" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Oropharynx</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormaOropharynx" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormaOropharynx" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Neck</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Examination of Neck</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalNeckExam" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalNeckExam" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Thyroid</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalThyroid" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalThyroid" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Respiratory</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Assessment of respiratory effort</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalRespiratory" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalRespiratory" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Percussion of Chest</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalPercussionChest" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalPercussionChest" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Palpation of Chest</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalPalpationChest" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalPalpationChest" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Auscultation of Lungs</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalAuscultationLungs" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalAuscultationLungs" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Cardiovascular</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Auscultation of heart</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalAuscultationHeart" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalAuscultationHeart" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Palpation of Heart</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalPalpationHeart" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalPalpationHeart" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Abdominal Aorta</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalPalpationChest" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalPalpationChest" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Carotid arteries</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalCarotidArteries" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalCarotidArteries" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Femoral Arteries	</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalFemoralArteries" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalFemoralArteries" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>


                                    <tr class="table-primary-row">
                                        <td>Examination of jugular veins (distension, a, v or cannon a waves)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalJugularVeins" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalJugularVeins" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Pedal Pulses</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalPedalPulse" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalPedalPulse" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Extremities for Edema and/or varicosities</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalExtremaites" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalExtremaites" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Chest</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Inspection of Breasts</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalBreast" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalBreast" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Palpation of Breasts and Axillae</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalBreast" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalBreast" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Gastrointestinal</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Abdominal exam--masses/tenderness</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalAbdorminal" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalAbdorminal" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Liver and Spleen</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalLiverAndSpleen" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalLiverAndSpleen" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination for Hernia</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalHernia" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalHernia" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of anus/perineum/rectum</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalRectumAnus" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalRectumAnus" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>


                                    <tr class="table-primary-row">
                                        <td>Occult blood test (when indicated)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalOccult" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalOccult" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Genitourinary (MALE)</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Examination of Scrotal Contents</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalScrotalContents" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalScrotalContents" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Penis</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalScrotalPenis" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalScrotalPenis" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Digital Examination of Prostate</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalProstrate" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalProstrate" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Lymphatic--Palpation of Lymph Nodes in:</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Neck</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalLymphNodesNeck" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalLymphNodesNeck" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Axillae</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalLymphNodesAxillae" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalLymphNodesAxillae" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Groin</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalLymphNodesAxillae" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalLymphNodesAxillae" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Other (Specify in documentation )</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalLymphNodesAxillae" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalLymphNodesAxillae" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Musculoskeletal</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Exam of gait/station</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalGait" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalGait" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Inspection/palpation of digits/nails Examination of joints/bones/muscles	</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalNails" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalNails" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of joints/bones/muscles: Head and neck</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalLymphNodesAxillae" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalLymphNodesAxillae" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Spine, ribs, and pelvis</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalRibsPelvisSpine" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalRibsPelvisSpine" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>


                                    <tr class="table-primary-row">
                                        <td>Right Upper Extremities (RUE)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalRUE" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalRUE" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Left Upper Extremities (LUE)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalLUE" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalLUE" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Right Lower Extremities (RLE)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalRLE" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalRLE" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Left Lower Extremities (LLE)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalLLE" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalLLE" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Skin</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Inspection of Skin</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalSkinInspection" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalSkinInspection" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Subcutaneous Tissue</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalSubcutaneousTissue" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalSubcutaneousTissue" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Palpation of Skin</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalPalpation" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalPalpation" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Neurologic</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>State of consciousness for mental status examination (GSC score)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalGSC" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalGSC" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Test Cranial Nerves</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalTestCranialNerves" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalTestCranialNerves" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Deep Tendon Reflexes</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalDeepTendon" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalDeepTendon" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of gait and station</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalGaitAndStation" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalGaitAndStation" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of motor system</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalMotorSystem" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalMotorSystem" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Sensation</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalSensation" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalSensation" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Test Coordination (finger/nose, heel/knee/shin, rapid alternating movements in upper/lower extremities)	</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalCoordination" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalCoordination" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </fieldset>

                        <fieldset>
                            <legend>Psychiatric</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Judgment/Insight</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormaJudgement" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormaJudgement" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Orientation to Time, Place, and Person</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalOrientation" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalOrientation" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Recent and Remote Memory</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalRecentAndRemote" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalRecentAndRemote" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Mood and Affect</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalMoodAndEffect" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalMoodAndEffect" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>



                                </tbody>
                            </table>
                        </fieldset>


                        <fieldset>
                            <legend>Genitourinary (FEMALE) Pelvic Examination</legend>
                            <table class="table table-bordered">
                                <thead class="bg-primary">
                                    <tr>
                                        <th>Particular</th>
                                        <th>Normal Abnormal</th>
                                        <th>Abnormal FIndings In Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="table-primary-row">
                                        <td>Examination of External Genitalia</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalExternalGenitelia" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalExternalGenitelia" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Urethra(masses, tenderness, scarring)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalUrethra" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalUrethra" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Bladder(fullness, masses, tenderness)</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalBladder" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalBladder" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Cervix</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalCervix" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalCervix" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Uterus</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalMotorSystem" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalMotorSystem" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                    <tr class="table-primary-row">
                                        <td>Examination of Adnexa/Parametria</td>
                                        <td>
                                            <fieldset>
                                                <input type="radio" name="normalAbnormalSensation" checked="" value="Normal"> Normal
                                                <input type="radio" name="normalAbnormalSensation" value="Abnomal"> Abnomal
                                            </fieldset>
                                        </td>
                                        <td>
                                            <textarea></textarea>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </fieldset>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




