<div class="modal fade " id="tallySheetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: block;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="panel panel-primary shadow glass">
                    <div class="panel-heading custom-navbar">
                        <p>OPD Tally Sheet</p>
                    </div>
                    <div class="panel-body">

                        <table class="table table-striped table-bordered">
                            <thead class="bg-primary">
                                <tr>
                                    <th>New Case</th>
                                    <th>Age Group</th>
                                    <th>Male</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Acute Flaccid Paralysis1	</td>
                                    <td></td>
                                    <td><input type="radio"></td>
                                </tr>

                                <tr>
                                    <td>All Other New/Unsual Cases	</td>
                                    <td></td>
                                    <td><input type="radio"></td>
                                </tr>

                                <tr>
                                    <td>Cliclical</td>
                                    <td>5-14</td>
                                    <td><input type="radio"></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



