
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;

}

<div class="col-md-12">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <table width="100%" >
                    <tr>
                        <td class="text-center">
                            <a href="~/Finance/Home/TotalShiftReport">
                                <img style="height:100px; width:auto; border-radius:10px" src="~/Content/icons/dashboard/Finance.jpg" />
                                @*<p>FINANCE</p>*@
                            </a>

                            <a style="color: black" href="~/Finance/Home/TotalShiftReport">
                                <br /><br /><b>FINANCE</b>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="~/Accounting/">
                                <img style="height:100px; width:auto; border-radius:10px" src="~/Content/icons/dashboard/Accounting.png" />
                                @*<p>ACCOUNT</p>*@
                            </a>

                            <a style="color: black" href="~/Finance/Home/TotalShiftReport">
                                <br /><br /><b>ACCOUNT</b>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="#">
                                <img style="height:100px; width:auto; border-radius:10px" src="~/Content/icons/dashboard/Budget.png" />
                                @*<p>BUDGET</p>*@
                            </a>

                            <a style="color: black" href="~/Finance/Home/TotalShiftReport">
                                <br /><br /><b>BUDGET</b>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>