
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Finance/Views/Shared/_Layout.cshtml";

}

<div class="col-md-12">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <table width="100%">
                    <tr>
                        <td align="center">
                            <a href="~/Finance/Home/TotalShiftReport">
                                <img style="border-radius:10px" width="100px;" height="100px" src="~/Content/icons/dashboard/Finance.jpg" />
                                <p style="padding:10px">FINANCE</p>
                            </a>
                        </td>
                        <td align="center">
                            <a href="~/Accounting/Home">
                                <img style="border-radius:10px" width="100px;" height="100px" src="~/Content/icons/dashboard/Accounting.png" />
                                <p style="padding:10px">ACCOUNTING</p>
                            </a>
                        </td>
                        <td align="center">
                            <a href="#">
                                <img  style="border-radius:10px" width="100px;" height="100px" src="~/Content/icons/dashboard/Budget.png" />
                                <p style="padding:10px">BUDGET</p>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>