
@{
    ViewBag.Title = "RaiseVoucher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;

}

<div class="col-md-2">
    @Html.Partial("~/Areas/Finance/Views/Shared/_LeftNavigation.cshtml")
</div>

<div class="col-md-7">
    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Raise Voucher
            </div>
            <div class="panel-body">
                <form>
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    Requisitioner:
                                </td>
                                <td>
                                    <input name="Requisitioner" id="Requisitioner" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp;  Department
                                </td>
                                <td>
                                    <select name="Department" id="Department" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Payee:
                                </td>
                                <td>
                                    <input type="text" name="Payee" id="Payee" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp;  Date Required:
                                </td>
                                <td>
                                    <input type="date" name="DateRequired" id="DateRequired" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    &nbsp;
                    <div class="col-md-12">
                        <table class="table table-data-pathology table-condensed">
                            <tr>
                                <th>Purpose</th>
                                <th>Reason</th>
                                <th>Quanity</th>
                                <th>Amount</th>
                                <th>GI Account</th>
                            </tr>
                            <tbody id="TBody">
                                <tr>
                                    <td>
                                        <input type="text" name="Purpose" id="Purpose" class="text-box margin-top-bottom-2" style="width:100%" />
                                    </td>
                                    <td>
                                        <input type="text" name="Reason" id="Reason" class="text-box margin-top-bottom-2" style="width:100%" />
                                    </td>
                                    <td>
                                        <input type="text" name="Quantity" id="Quantity" class="text-box margin-top-bottom-2" style="width:100%" />
                                    </td>
                                    <td>
                                        <input type="number" name="Amount" id="Amount" class="text-box margin-top-bottom-2" style="width:100%" />
                                    </td>
                                    <td>
                                        <input name="GIAcc" id="GIAcc" class="text-box margin-top-bottom-2" style="width:100%" />
                                    </td>
                                    <td>
                                        <input type="button" id="add" value="+" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <input type="radio" name="ReimbursmentPay" id="Reimbursment" /> Reimbursment &nbsp;
                        <input type="radio" name="ReimbursmentPay" id="AdvancePayment" /> Advance Payment
                    </div>
                    <div class="col-md-12 marg-top-16px">
                        <button type="submit" class="btn btn-primary bn-sm">Ok</button>
                        <button type="reset">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#add").click(function () {
                var markup = "<tr>"
                    + "<td>"
                    + '<input type="text" name="Purpose" id="Purpose" class="text-box margin-top-bottom-2" style="width:100%" />'
                    + '</td>'
                    + '<td>'
                    + '<input type="text" name="Reason" id="Reason" class="text-box margin-top-bottom-2" style="width:100%" />'
                    + '</td>'
                    + '<td>'
                    + '<input type="text" name="Quantity" id="Quantity" class="text-box margin-top-bottom-2" style="width:100%" />'
                    + '</td>'
                    + '<td>'
                    + '<input type="number" name="Amount" id="Amount" class="text-box margin-top-bottom-2" style="width:100%" />'
                    + '</td>'
                    + '<td>'
                    + '<input name="GIAcc" id="GIAcc" class="text-box margin-top-bottom-2" style="width:100%" />'
                    + '</td>'
                    + "</tr>";
                $("#TBody").append(markup);
                //alert();
            });
        });

    </script>


}


