<table class="table table-data table-condensed">
    <thead>
        <tr>
            <th>
                Edit
            </th>
            <th>Date</th>
            <th>Wt</th>
            <th>Bp</th>
            <th colspan="3" align="center">
                <div class="text-center">Urine</div>
            </th>
            <th colspan="3" align="center">
                <div class="text-center">Maturity Assessments</div>
            </th>
            <th>
                Edema
            </th>
            <th>Present Engagement</th>
            <th>Hgb</th>
            <th>
                <div class="text-center">Comment/Return Visit</div>
            </th>
            <th>Physician</th>
            <th>Delete</th>
        </tr>
        <tr>
            <th colspan="4"></th>
            <th>Protein</th>
            <th>Sugar</th>
            <th>Acetone</th>

            <th>AOG</th>
            <th>USS</th>
            <th>FHt</th>
            <th colspan="6"></th>
        </tr>
    </thead>
</table>