
@model Caresoft2._0.CustomData.EMR_OPD_Data


@{
    var tests = (List<CaresoftHMISDataAccess.MasterPostNatalTest>)ViewBag.MasterPostNatalTests;

    ViewBag.WideView = true;
    ViewBag.Title = "Post Natal Examination";
    ViewBag.ShowTopMenu = true;
    Layout = "~/Views/Shared/_EMRForms.cshtml";
}

<div class="panel panel-primary shadow glass caresoft-panel">
    <div class="panel-heading custom-navbar">
        <p>Post Natal Examination</p>
        <div class="tab-content">
            <button type="button" style="float:left; outline:none; cursor:pointer; padding:14px 16px; border:none; transition:0.3s;" id="btn-mother-post-natal" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("MotherPostNatal", "MCH", new { id= ViewBag.OpdNo })" data-callback="motherpostnatal">Mother Post Natal</button>
            <button type="button" style="float:left; outline:none; cursor:pointer; padding:14px 16px; border:none; transition:0.3s;" id="btn-baby-post-natal" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("BabyPostNatal", "MCH", new { id= ViewBag.OpdNo })" data-callback="babypostnatal">Baby post Natal</button>
            <button type="button" style="float:left; outline:none; cursor:pointer; padding:14px 16px; border:none; transition:0.3s;" id="cancer-screening" class="call-modal-form btn btn-sm btn-primary" data-action="@Url.Action("CancerScreening", "MCH", new { id= ViewBag.OpdNo })" data-callback="babypostnatal">Cancer Screening</button>
        </div>
    </div>
    <div class="panel-body">
        <form id="post-natal-form">
            <input type="hidden" value="@Model.OpdRegister.Id" name="OpdIpdNumber" />

            <fieldset class="text-center ">
                <label>
                    <input type="radio" name="DoneTo" value="Mother" checked /> Mother
                </label>
                <label>
                    <input type="radio" name="DoneTo" value="Baby" /> Baby
                </label>
                <label>
                    <input type="radio" name="DoneTo" value="Reproductive" /> Reproductive Organs Cancer Screening(tick as appropriate)
                </label>
            </fieldset>

            <div id="sub-form">

                <table class="marg-top-16px" width="75%">
                    <tr>
                        <td>
                            <label>Breastfeeding Mother HIV Initial</label>
                        </td>
                        <td align="center">
                            <fieldset class="text-center">
                                <label>
                                    <input type="radio" name="HIVInitial" value="Negative" /> Negative
                                </label>
                                <label>
                                    <input type="radio" name="HIVInitial" value="Positive" /> Positive
                                </label>
                            </fieldset>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            <label> Breastfeeding Mother HIV Reset</label>
                        </td>
                        <td align="left">
                            <fieldset class="text-center">
                                <label>
                                    <input type="radio" name="HIVInitial" value="Negative" /> Negative
                                </label>
                                <label>
                                    <input type="radio" name="HIVInitial" value="Positive" /> Positive
                                </label>
                            </fieldset>
                        </td>
                    </tr>
                </table>


                <table class="table-form marg-top-16px">
                    <tr>
                        <td>
                            <label for="General Condition">
                                General Condition
                            </label>
                        </td>
                        <td>
                            <input name="GeneralCondition" required id="GeneralConditiont" type="text" class="text-box box-lg" />
                        </td>
                        <td>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <label>
                                Temp
                            </label>
                        </td>
                        <td>
                            <input type="number" name="Temp" class="text-box box-lg" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="BreathPerMinute">
                                Breath Per Minute
                            </label>
                        </td>
                        <td>
                            <input name="BreathPerMinute" required id="BreathPerMinute" type="text" class="text-box box-lg" />
                        </td>
                        <td>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <label>
                                Feeding Method
                            </label>
                        </td>
                        <td>
                            <input type="text" name="DeedingMethod" class="text-box box-lg" />
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="PositioningAttachment">
                                breastfeeding Positioniong
                            </label>
                        </td>
                        <td>
                            <input name="PositioningAttachment" required id="PositioningAttachment" type="text" class="text-box box-lg" />
                        </td>
                        <td>
                            &nbsp;
                            &nbsp;
                            &nbsp;
                            <label>
                                Umbilical Cord
                            </label>
                        </td>
                        <td>
                            <input type="text" name="UmbilicalCord" class="text-box box-lg" />
                        </td>
                    </tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <tr>
                        <table class="marg-top-16px" width="75%">
                            <tr>
                                <td>
                                    <label>Baby Immunization Started</label>
                                </td>
                                <td align="center">
                                    <fieldset class="text-center">
                                        <label>
                                            <input type="radio" name="BabyImmunization" value="YES" /> YES
                                        </label>
                                        <label>
                                            <input type="radio" name="BabyImmunization" value="NO" /> NO
                                        </label>
                                    </fieldset>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <label> HEI infant given ART</label>
                                </td>
                                <td align="left">
                                    <fieldset class="text-center">
                                        <label>
                                            <input type="radio" name="InfantART" value="YES" /> YES
                                        </label>
                                        <label>
                                            <input type="radio" name="InfantART" value="NO" /> NO
                                        </label>
                                    </fieldset>
                                </td>
                            </tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <tr>
                                <td>
                                    <label> Contrimoxale prophylaxis initiated</label>
                                </td>
                                <td>
                                    <fieldset class="text-center">
                                        <label>
                                            <input type="radio" name="HAART" value="YES" /> YES
                                        </label>
                                        <label>
                                            <input type="radio" name="HAART" value="NO" /> NO
                                        </label>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>

            </div>
            <div class="form-group marg-top-16px">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <button type="reset" class="btn btn-primary btn-sm">Reset</button>
            </div>




        </form>
    </div>

</div>




@section scripts{
    <script>



        getRecentInfo();
        function getRecentInfo() {
            $.ajax({
                type: "GET",
                url: "/EMR/GetMostRecentPhysicalExam/"+@Model.Patient.Id,
                datatype: "html",
                success: function (result) {
                    $('#patient-recent-physical-info').html(result);
                }
            });
        }


    </script>
}





