@{
    ViewBag.Title = "CreditorsOperations";
}

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Creditors Operations
            </div>
            <div class="panel-body">
                <table>
                    <tr>
                        <td>
                            <a href="~/Accounting/Home/EnterBills">
                                <img src="~/Content/icons/dashboard/AllocateCreditors.png" class="finance-navigation-menu" />
                                Bill Booking
                            </a>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="~/Accounting/Home/ApproveBills">
                                <img src="~/Content/icons/dashboard/ApproveVoucher.png" class="finance-navigation-menu" />
                                Approve Voucher
                            </a>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="~/Finance/Home/Payments">
                                <img src="~/Content/icons/dashboard/Bankin.jpg" class="finance-navigation-menu" />
                                Pay Creditors
                            </a>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="~/Finance/Home/LumpsumPayments">
                                <img src="~/Content/icons/dashboard/Confirm Banking.png" class="finance-navigation-menu" />
                                Lumpsum Payments
                            </a>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="~/Finance/Home/Cosultants">
                                <img src="~/Content/icons/dashboard/banking.png" class="finance-navigation-menu" />
                                Pay Consultants
                            </a>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="~/Finance/Home/PaymentsAdjustment">
                                <img src="~/Content/icons/dashboard/ShiftReport.png" class="finance-navigation-menu" />
                                Adjust Payments
                            </a>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="~/Accounting/Home/Journal">
                                <img src="~/Content/icons/dashboard/banking.png" class="finance-navigation-menu" />
                                Journals
                            </a>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="~/Accounting/Home/CreditorsAllocation">
                                <img src="~/Content/icons/dashboard/AllocateCreditors.png" class="finance-navigation-menu" />
                                Allocate Creditors
                            </a>
                        </td>
                    </tr>
                    <tr><td>&nbsp;</td></tr>
                    <tr>
                        <td>
                            <a href="~/Accounting/Home/AllocateDoctorsInvoices">
                                <img src="~/Content/icons/dashboard/AllocateDoctors.png" class="finance-navigation-menu" />
                                Allocate Doctors
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

