<div class="container">
    <div class="alert alert-warning">
        <h4><i class="fa fa-exclamation-triangle"></i> Permission Denied!</h4>
        <h5>You do not have the permision to view this page. Contact system administrator</h5>
    </div>
</div>