<div>
    <h2 class="text-danger text-center"> Authorization Information </h2>
    <p class="text-center"><b> You Are "<span class="text-danger text-center">NOT</span>" allowed to view/use this resorce/page. please Contact the Admin for more details</b></p>
</div>
