@using PagedList.Mvc;

<div id="pagination" class="row">
    <br />
    <div class="col-md-6 col-offset-3">
        <div class="pagination">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</div>
