
@{
    ViewBag.Title = "ItemMaster";
    Layout = "~/Areas/GeneralStore/Views/Shared/_LayoutGeneralStore.cshtml";
}

<style>
    .table-form tr {
        height: 35px;
    }

    .text-box {
        width: 200px;
    }

    table .table-form td {
        padding-left: -1px;
    }

    .fa-plus-circle {
        color: orange;
        font-size: 24px;
    }

        .fa-plus-circle > span {
            color: darkslategray;
            font-size: 16px;
        }

    .modal {
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 0;
        left: 0;
        z-index: 10040;
        overflow: auto;
        overflow-y: auto;
    }
</style>
<div>
    <div class="col-md-10">
        <div class="panel panel-primary caresoft-panel" style="margin-top:10px">
            <div class="panel-heading custom-navbar">
                <p style="color:black;margin-left:10px;"><strong>Item Master Entry</strong></p>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="">
                        <form id="formItemMaster">
                            <table class="table-form" style="margin-left:10px">
                                <tr>
                                    <td>Item Name</td>
                                    <td>
                                        <input type="text" id="name" class="text-box" />
                                        <div class="text-box suggestions collapse" id="ItemNameList">
                                        </div>
                                    </td>
                                    <td>Batch No</td>
                                    <td>
                                        <input type="text" id="BatchNo" class="text-box" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Generic Drug Name</td>
                                    <td colspan="2">
                                        <input type="text" id="GenericDrugName" class="text-box" /> <i class="fa fa-plus-circle" id="AddNewGenericDrug"><span>Add New Generic Drug</span></i>
                                        <div class="text-box suggestions collapse" id="GenericDrugNameList">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MfgCo. Name</td>
                                    <td colspan="2">
                                        <input type="text" id="MfgCoName" class="text-box" /> <i class="fa fa-plus-circle" id="AddNewMfgCompany"><span>Add New Mfg Company</span></i>
                                        <div class="text-box suggestions collapse" id="MfgNameList">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Category</td>
                                    <td colspan="2">
                                        <input type="text" id="category" class="text-box" multiple /> <i class="fa fa-plus-circle" id="AddNewMfgCategory"><span>Add New Category</span></i>
                                        <div class="text-box suggestions collapse" id="CategoryList">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Supplier</td>
                                    <td>
                                        <input type="text" id="supplier" class="text-box" />
                                        <div class="text-box suggestions collapse" id="SupplierList">
                                        </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Current Stock</td>
                                    <td>
                                        <input type="text" id="CurentStock" class="text-box" multiple />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Mfg Date</td>
                                    <td>
                                        <input type="date" id="MfgDate" class="text-box" />
                                    </td>

                                </tr>
                                <tr>
                                    <td>Reorder Level</td>
                                    <td>
                                        <input type="text" id="ReorderLevel" class="text-box" multiple />
                                    </td>
                                    <td>Bar Code</td>
                                    <td>
                                        <input type="text" id="barcode" class="text-box" multiple />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Units/Pack</td>
                                    <td>
                                        <input type="text" id="unitsPack" class="text-box" multiple />
                                    </td>
                                    <td>Case Pack Rate</td>
                                    <td>
                                        <input type="text" id="casePackRate" class="text-box" multiple />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cost Price/Unit</td>
                                    <td>
                                        <input type="text" id="costPriceUnit" class="text-box" multiple />
                                    </td>
                                    <td>Selling Price/Unit</td>
                                    <td>
                                        <input type="text" id="sellingPriceUnit" class="text-box" multiple />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Expiry Status</td>
                                    <td>
                                        <select class="text-box" id="expiryStatus">
                                            <option>Select Item</option>
                                            <option>Expiry Item</option>
                                            <option>Non Expiry Item</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Purchase Date</td>
                                    <td>
                                        <input type="date" class="text-box" id="purchaseDate" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="button" id="btnSave" class="btn btn-sm btn-primary" value="Save" />
                                        <input type="button" class="btn btn-sm btn-primary" value="Clear" />
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div id="result">

                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="GenericDrug" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Generic Drug</h4>
            </div>
            <div class="modal-body">
                <table class="table-form">
                    <tr>
                        <td>Generic Drug Name</td>
                        <td><input type="text" class="text-box" id="DrugName" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="resultGeneric">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveGenericDrug" class="btn btn-primary btn-sm">Save</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="MfgCompanyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Mfg Company</h4>
            </div>
            <div class="modal-body">
                <table class="table-form">
                    <tr>
                        <td>Mfg Company Name</td>
                        <td><input type="text" class="text-box" id="CompanyName" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="resultCompany">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveNewCompany" class="btn btn-primary btn-sm">Save</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="CategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content modal-sm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Category</h4>
            </div>
            <div class="modal-body">
                <table class="table-form">
                    <tr>
                        <td>Category Name</td>
                        <td><input type="text" class="text-box" id="CategoryName" /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div id="resultCategory">

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveCategory" class="btn btn-primary btn-sm">Save</button>
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Areas/Procurement/Scripts/ItemMasterScript.js?v=@(new Random().Next(1,10000))"></script>

    <script type="text/javascript">
    </script>
}


