@{
    ViewBag.Title = "Applicant Resume Data Base";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }
</style>

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Applicant Resume Data Base
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li>
                        <a href="~/HumanResource/Home/ApplicantResume">
                            <img src="~/Content/icons/dashboard/Reconcile Cash Point.png" />
                            Basic Information

                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/BioData">
                            <img src="~/Content/icons/dashboard/Reconcile Cash Point.png"/>
                            Bio Data/Addresses

                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Qualifications">
                            <img src="~/Content/icons/dashboard/Reconcile Cash Point.png" />
                            Qualifications
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/WorkExperience">
                            <img src="~/Content/icons/dashboard/Reconcile Cash Point.png" />
                            Work Experience
                        </a>
                    </li>
                    
                    &nbsp;
                    <li>
                        <a href="~/HumanResource/Home/Refereees">
                            <img src="~/Content/icons/dashboard/Reconcile Cash Point.png" />
                            Referees
                        </a>
                    </li>
                   
                        </ul>
                    
            </div>
        </div>
    </div>
</div>

