@{
              
   ViewBag.Title = "Contract Termination";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }

    #test {
        list-style: none;
    }
</style>

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Contract Termination
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li id="test">
                        <a href="~/HumanResource/Home/DashBoard">
                            <img src="~/Content/icons/dashboard/Charges.png" />
                            HOME
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="#">

                            | Contract Termination
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/HumanResource/Home/Reason">
                                    | Reason
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/CheckOff">
                                    | CheckOff
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/CheckOut">
                                    | CheckOut
                                </a>
                            </li>
                        </ul>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="#">

                            | Check Off System
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/HumanResource/Home/Operator">
                                    | Operator
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/Guaranteering">
                                    | Guaranteeing
                                </a>
                            </li>

                        </ul>
                    </li>
                    &nbsp;

                    <li id="test">
                        <a href="~/HumanResource/Home/ClaimManagement">
                            |  Claim Management
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>




