@{
              
   ViewBag.Title = "Contract Termination";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }

    #test {
        list-style: none;
    }
</style>

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Contract Termination
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li id="test">
                        <a href="~/HumanResource/Home/Reason">
                            | Contract Termination
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Operator">
                            | Check-off Systems
                        </a>
                    </li>
                    &nbsp;
                    
                    <li id="test">
                        <a href="~/HumanResource/Home/ClaimManagement">
                            |  Claim Management
                        </a>
                    </li>
                   
                </ul>

            </div>
        </div>
    </div>
</div>




