@{

    ViewBag.Title = "Contract Management";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }

    #test {
        list-style: none;
    }
</style>

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Contract Management
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li id="test">
                        <a href="~/HumanResource/Home/StaffWorkExperience">
                            | Staff Resume Database
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/ContractManagement">
                            | Contract Management
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/AllocationOfRoles">
                            | Allocation of Roles/Resposibilities
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/RolesAndObjectives">
                            | Appraisals
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Tasks">
                            | Tasks and Administration
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Attendance">
                            |  Attendance Record
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="#">
                            
                           | Unionised Staff
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/HumanResource/Home/UnionDetails">
                                   | Union Details
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/UnionRegistration">
                                   | Registration/De-Registration
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>


