@{
             
       ViewBag.Title = "Internal Communication";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }

    #test {
        list-style: none;
    }
</style>

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Internal Communication
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li id="test">
                        <a href="~/HumanResource/Home/Memos">
                            | Memos
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Minutes">
                            | Minutes of Meetings
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Postings">
                            | Posting
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="#">

                            | Promotion & Demotion
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/HumanResource/Home/Promotion">
                                    | Promotion
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/Demotion">
                                    | Demotion
                                </a>
                            </li>

                        </ul>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/RemoteAccess">
                            | Resource Access Control
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Leave">
                            | Leave Scheduling
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Shift">
                            | Shifts Administration
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>


