@{
              
     ViewBag.Title = "Job Requisition,Recruitment & Hiring";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }
    #test{
        list-style:none;
    }
</style>

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Job Requisition,Recruitment & Hiring
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li id="test">
                        <a href="~/HumanResource/Home/JobRequisitionInfor">
                            | Job Requisition
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Registration">
                            | Applicants Registration
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/ApplicantsList">
                            | Applicants List
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/ApplicantResume">
                            | Applicant Resume Data Base
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/ApplicationForm">
                            | Application Form
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/InterviewDetails">
                            | Interview Setup
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Confirmation">
                            | Confirmations
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Vetting">
                            | Vetting
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Tests">
                            | Tests
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>


