@{

    ViewBag.Title = "Training & Development";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }

    #test {
        list-style: none;
    }
</style>

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Training & Development
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li id="test">
                        <a href="~/HumanResource/Home/Training">
                            | Training
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Grievances">
                            | Grievances Resolution
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="#">

                            | Employees Health & Safety
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/HumanResource/Home/Injury">
                                    | Injury/Illness Information
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/HumanResource/Home/HealthSafety">
                                    | Health & Safety Promotion
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li id="test">
                        <a href="~/HumanResource/Home/ApplicantInformation">
                            | Staff Loans Processing
                        </a>
                    </li>
                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/PolicyAdministration">
                            | Policy Administration
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Benefits">
                            | Benefits Processing
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/">
                            | Compensation
                        </a>
                    </li>

                    &nbsp;
                    <li id="test">
                        <a href="~/HumanResource/Home/Incentive">
                            | Incentives
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>



