@{
    ViewBag.Title = "Ambulance Master";
    Layout = "~/Views/Shared/_NurseModuleLayout.cshtml";
}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary caresoft-panel">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                @using (Ajax.BeginForm("SaveAmbulanceMaster", "Ambulatory", new { }, new AjaxOptions
                {
                    LoadingElementId = "loadingElement",
                    HttpMethod = "POST",
                    UpdateTargetId = "",
                    OnFailure = "showNotification('Failed', 'danger', 'false')",
                    OnSuccess = "showNotification('Data saved Successfully', 'success', 'true')"
                }))
                {
                    <form id="family-planning" method="post" action="@Url.Action("SaveAmbulanceMaster", "Ambulatory")">
                        <table class="table-form">

                            <tr>
                                <td>
                                    <label>Ambulance Type</label><br />
                                <td>
                                    <input type="text" name="AmbulanceType" id="AmbulanceType" required />
                                </td>
                            </tr>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>

                            <tr>
                                <td>
                                    <label>Vehicle Type</label>
                                </td>
                                <td>
                                    <input type="text" name="VehicleType" id="VehicleType" required />
                                </td>
                                <td>
                                    <label>Vehicle Name</label>
                                </td>
                                <td>
                                    <input type="text" name="VehicleName" id="VehicleName" required />
                                </td>
                                <td>
                                    <label>Vehicle Number</label>
                                </td>
                                <td>
                                    <input type="number" name="VehicleNumber" id="VehicleNumber" required />
                                </td>
                            </tr>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>
                            <tr>
                                <td>
                                    <label>Power</label>
                                </td>
                                <td>
                                    <input type="text" name="Power" id="Power" required />
                                </td>
                                <td>
                                    <label>Registration Date</label>
                                </td>
                                <td>
                                    <input type="date" name="RegistrationDate" id="RegistrationDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" required />
                                </td>
                                <td>
                                    <label>Fuel Capacity</label>
                                </td>
                                <td>
                                    <input type="text" name="FuelCapacity" id="FuelCapacity" required />
                                </td>
                            </tr>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>
                            <tr>
                                <td>
                                    <label>Description</label>
                                </td>
                                <td>
                                    <input type="text" name="Description" id="Description" required />
                                </td>

                                <td>
                                    <label>Net Weight</label>
                                </td>
                                <td>
                                    <input type="text" name="NetWeight" id="Netweight" required />
                                </td>
                            </tr>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>
                            <td> &nbsp;</td>
                            <tr>
                                <td>
                                    <label>Assigned Driver</label>
                                </td>
                                <td>
                                    <input type="text" name="AssignedDriver" id="AssignedDriver" required />
                                </td>
                            </tr>


                        </table>

                        <div>
                            <button type="submit" class="btn btn-sm btn-primary" id="btnSubmit" name="btnSubmit">Save</button>
                            <button type="reset" class="btn btn-sm btn-primary">Cancel</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>






@section scripts{









    <script>
        jQuery(document).ready(function ($) {

            $("#AssignedDriver").autocomplete({


                source: function (request, res) {


                    $.ajax({

                        type: "POST",
                        url: "@Url.Action("SearchDriver", "Ambulatory")",

                        dataType: "json",
                        data: { Prefix: request.term },


                        data: { search: $("#AssignedDriver").val() },
                        success: function (data) {
                            res($.map(data, function (item) {
                                return {
                                    label: item.Name, value: item.Name, Id: item.Id
                                };
                            }));
                        },

                        error: function (xmlhttprequest, textstatus, errorthrown) {
                            console.log(errorthrown, "danger")
                            console.log(xmlhttprequest.responseText);
                        }

                    });
                },

                messages: {
                    noResults: "", results: ""

                }

            });

            getRecentInfo();
            function getRecentInfo() {
                $.ajax({
                    type: "GET",
                    url: "/EMR/GetMostRecentPhysicalExam/",
                    datatype: "html",
                    success: function (result) {
                        $('#patient-recent-physical-info').html(result);
                    }
                });
            }

        })
    </script>
}

