
@{
    ViewBag.Title = "Radiology";
    ViewBag.ShowTopMenu = true;
    Layout = "~/Areas/Radiology/Views/Shared/_LayoutRadiology.cshtml";
}

<div style="min-height:75vh; background: url('http://kiambucounty.quanta-his.com/Images/Master/image.jpg');"></div>

