<div class="panel panel-primary shadow glass caresoft-panel" style="margin-bottom:-1em;">
    <div class="panel-heading ">
        Credit Card Entry
    </div>
    <div class="panel-body">
       <table class="table-form">
           <tr>
               <td width="18%"></td>
               <td>
                   <fieldset>
                       <table class="table-form">
                           <tr>
                               <td>
                                   <label>Card Number</label>
                               </td>
                               <td>
                                   <input type="text" class="text-box box-lg" />
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   <label>Person Name</label>
                               </td>
                               <td>
                                   <input type="text" class="text-box box-lg" />
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   <label>Company</label>
                               </td>
                               <td>
                                   <input type="text" class="text-box box-lg" />
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   <label>Date</label>
                               </td>
                               <td>
                                   <input type="date" class="text-box box-lg" />
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   <label>Amount</label>
                               </td>
                               <td>
                                   <input type="text" class="text-box box-lg" />
                               </td>
                           </tr>
                           <tr>
                               <td>
                                   <input type="button" class="btn btn-sm btn-primary" value="Ok" />
                                   <input type="button" class="btn btn-sm btn-primary" value="Cancel" />
                               </td>
                           </tr>
                       </table>
                   </fieldset>
                   
               </td>
               <td width="18%"></td>
           </tr>
       </table>
    </div>
</div>

