@{
    ViewBag.Title = "Finance";
}
<style>
    #nav ul {
        display: none;
    }

    #nav li:hover > ul {
        display: block;
    }
</style>

<div>
    <div class="menu-list">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Finance
            </div>
            <div class="panel-body">

                <ul id="nav">
                    <li>
                        <a href="~/Finance/Home/ReconcileCash">
                            <img src="~/Content/icons/dashboard/Reconcile Cash Point.png" class="finance-navigation-menu" />
                            Reconciliation Cash Point

                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/Finance/Home/TotalShiftReport">
                            <img src="~/Content/icons/dashboard/ShiftReport.png" class="finance-navigation-menu" />
                            Total Shift Report

                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/Finance/Home/Banking">
                            <img src="~/Content/icons/dashboard/Bankin.jpg" class="finance-navigation-menu" />
                            Banking
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/Finance/Home/ConfirmBanking">
                            <img src="~/Content/icons/dashboard/Bank Reconciliation.png" class="finance-navigation-menu" />
                            Confirm Banking
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/Finance/Home/BankReconciliation">
                            <img src="~/Content/icons/dashboard/banking.png" class="finance-navigation-menu" />
                            Bank Reconciliation
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/Finance/Home/BankCharges">
                            <img src="~/Content/icons/dashboard/Charges.png" class="finance-navigation-menu" />
                            Bank Charges
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="~/Finance/Home/DirectBanking">
                            <img src="~/Content/icons/dashboard/Confirm Banking.png" class="finance-navigation-menu" />
                            Direct Banking
                        </a>
                    </li>
                    &nbsp;
                    <li>
                        <a href="#">
                            <img src="~/Content/icons/dashboard/Payment.jpg" />
                            Payment
                        </a>
                        <ul>
                            <li class="">
                                <a href="~/Finance/Home/Payments">
                                    Payments
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/Finance/Home/LumpsumPayments">
                                    Lumpsum Payments
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/Finance/Home/Cosultants">
                                    Consultants
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/Finance/Home/PaymentsAdjustment">
                                    Payment Adjustment
                                </a>
                            </li>
                        </ul>
                    </li>
                    &nbsp;
                    <li>
                        <a href="#">
                            <img src="~/Content/icons/dashboard/Bank Reconciliation.png" />
                            Petty Cash
                        </a>
                        <ul class="">
                            <li class="">
                                <a href="~/Finance/Home/RaiseVoucher">
                                    Raise Voucher
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/Finance/Home/ApproveVoucher">
                                    Approve Voucher
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/Finance/Home/PettyPayments">
                                    Petty Cash Payment
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/Finance/Home/DirectNGOPayments">
                                    Direct NGO Petty Cash Payment
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/Finance/Home/DirectCashtPayments">
                                    Direct Cash Payment
                                </a>
                            </li>
                            &nbsp;
                            <li class="">
                                <a href="~/Finance/Home/PettyCashAdjustment">
                                    Petty Cash Adjustment
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>     
            </div>
        </div>
    </div>
</div>
