@model CaresoftHMISDataAccess.UserRole
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_UserManagementLayout.cshtml";
}

<div class="col-md-6">
    <div class="row">
        <div class="panel panel-primary caresoft-panel ">
            <div class="panel-heading">
                Add Role
            </div>
            <div class="panel-body">
                <div class="tab-content" id="reg-form-holder">
                    <div id="addDept" class="tab-pane fade in active">
                        @using (Html.BeginForm())
                        {
                            <table class="table-form" style="width:100%;">
                                <tr>
                                    <td>
                                        <label for="mainDepartment">
                                            Role Name
                                        </label>
                                    </td>


                                    <td>
                                        <input type="text" class="text-box" style="width:80%;" name="RoleName" id="DName" required />

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="mainDepartment">
                                            Department
                                        </label>
                                    </td>

                                    <td>
                                        @Html.DropDownListFor(n => n.DepartmentId,
                                     new SelectList(ViewBag.Departments, "Id", "DepartmentName"), "Select Department", new {@class="text-box", @required = true, @style="width:80%;" })
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="mainDepartment">
                                            Role Description
                                        </label>
                                    </td>

                                    <td>
                                        <input type="text" style="width:80%;" class="text-box" name="RoleDescription" id="DName" required />

                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label for="defaultPage">
                                            Landing Page
                                        </label>
                                    </td>

                                    <td>
                                        <input class="text-box" style="width:80%;" name="LandingPage" id="LandingPage" value="" />
                                    </td>

                                </tr>
                                <tr>

                                    <td></td>
                                    <td>
                                        <button type="submit" id="save-btn" title="Go" class="btn btn-primary">Save</button>
                                        <label id="lableAjaxSatatus" class="alert-warning"></label>
                                    </td>
                                </tr>

                            </table>

                        }
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>