
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserManagementLayout.cshtml";
}


<div class="col-xs-12">
    <div style="min-height:50vh; background: url('http://kiambucounty.quanta-his.com/Images/Master/image.jpg');">
    </div>
</div>

