
@{
    ViewBag.Title = "NutritionDietdetails";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.ShowTopMenu = true;
    Layout = "~/Views/Shared/_EMRForms.cshtml";
}

<h2>NutritionDietdetails</h2>

