
<div class="panel panel-primary shadow glass caresoft-panel" style="margin-bottom:-1em;">
    <div class="panel-heading ">
        Biometric Identification
    </div>
    <div class="panel-body">
        <table width="100%">
            <tr>
                <td width="18%"></td>
                <td>
                    <fieldset>
                        <table width="100%">
                            <tr>
                                <td width="50%">
                                    <img src="~/Content/icons/person-placeholder.png" class="img img-responsive" />
                                </td>
                                <td width="50%">
                                    <img src="~/Content/icons/Thumb.gif" height="200px" width="180px" class="img img-responsive"/>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                   
                </td>
                <td width="18%"></td>
            </tr>
        </table>
    </div>
</div>
