
@{
    ViewBag.Title = "DonorInformation";
    ViewBag.ShowTopMenu = true;

}

<div class="col-md-8 col-lg-offset-2">

    <div class="">
        <div class="panel panel-primary caresoft-panel glass">
            <div class="panel-heading">
                Donor Information Form
            </div>
            <div class="panel-body">
                <form>
                    <div class="col-md-12">
                        <table>
                            <tr>
                                <td>
                                    Donor Id:
                                </td>
                                <td>
                                    <input type="number" name="DonorId" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>Salutation</td>
                                <td>
                                    <select name="Salutation" class="text-box margin-top-bottom-2">
                                        <option>--Select--</option>
                                        <option>Mr</option>
                                        <option>Mrs</option>
                                        <option>Madam</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Name of Donor:
                                </td>
                                <td>
                                    <input type="text" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Address:
                                </td>
                                <td>
                                    <input type="text" name="Address" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp;  City:
                                </td>
                                <td>
                                    <input type="text" name="City" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pin Code:
                                </td>
                                <td>
                                    <input name="PinCode" class="text-box margin-top-bottom-2" style="width:100%" type="number" />
                                </td>
                                <td>
                                    &nbsp; Marriage Anniversary:
                                </td>
                                <td>
                                    <input type="date" name="MarriageAnniversary" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Contact No:
                                </td>
                                <td>
                                    <input type="number" class="text-box margin-top-bottom-2" style="width:100%" name="ContactNo" />
                                </td>
                                <td>
                                    &nbsp; Mobile No:
                                </td>
                                <td>
                                    <input type="tel" name="MobileNo" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Occassion:
                                </td>
                                <td>
                                    <select name="Occassion" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option>--Select--</option>
                                    </select>
                                </td>
                                <td>
                                    &nbsp; Date of Birth:
                                </td>
                                <td>
                                    <input type="date" name="DOB" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Age:
                                </td>
                                <td>
                                    <input type="number" name="Age" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sex:
                                </td>
                                <td>
                                    <input type="radio" name="Sex" value="Male" /> &nbsp; Male
                                    <input type="radio" name="Sex" value="Female" /> &nbsp; Female
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    Blood Group:
                                </td>
                                <td>
                                    <select name="BloodGroup" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option>--Select</option>
                                    </select>
                                </td>
                                <td>
                                    &nbsp; No of Previous Donations:
                                </td>
                                <td>
                                    <input type="number" name="NoDonations" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Donation Date:
                                </td>
                                <td>
                                    <input type="date" name="DonationDate" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp; Last Donation Date:
                                </td>
                                <td>
                                    <input type="date" name="LastDonationDate" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Donation Time:
                                </td>
                                <td>
                                    <input type="time" name="DonationTime" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp; Card No:
                                </td>
                                <td>
                                    <input type="number" name="CardNo" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Donation Type:
                                </td>
                                <td>
                                    <select name="DonationType" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option>--Select--  </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Blood Bag Type:
                                </td>
                                <td>
                                    <select name="BloodBagType" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option>--Select--</option>
                                    </select>
                                </td>
                                <td>
                                    &nbsp;  Quantity in m.l.
                                </td>
                                <td>
                                    <input type="number" name="Qty" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Batch No:
                                </td>
                                <td>
                                    <select name="BatchNo" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option>--Select--</option>
                                    </select>
                                </td>
                                <td>
                                    &nbsp; Expiry Date:
                                </td>
                                <td>
                                    <input type="date" name="ExpDate" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mfg company:
                                </td>
                                <td>
                                    <input type="text" name="MfgCompany" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp; Medical Officer:
                                </td>
                                <td>
                                    <select name="MedicalOfficer" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option>--Select--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    Weight:
                                </td>
                                <td>
                                    <input type="number" name="Weight" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp;  Height:
                                </td>
                                <td>
                                    <input type="number" name="Height" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pulse:
                                </td>
                                <td>
                                    <input type="number" name="Pulse" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp;  HB:
                                </td>
                                <td>
                                    <input type="number" name="HB" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    BP:
                                </td>
                                <td>
                                    <input type="number" name="BP" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp;  Temp:
                                </td>
                                <td>
                                    <input type="number" name="Temp" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    VSite:
                                </td>
                                <td>
                                    <select name="VSite" class="text-box margin-top-bottom-2" style="width:100%">
                                        <option>--Select--</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CVS:
                                </td>
                                <td>
                                    <input name="CVS" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp; R.S:
                                </td>
                                <td>
                                    <input name="RS" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    CNS:
                                </td>
                                <td>
                                    <input name="CNS" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                                <td>
                                    &nbsp; PA:
                                </td>
                                <td>
                                    <input name="PA" class="text-box margin-top-bottom-2" style="width:100%" />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12 marg-top-16px">
                        <button type="submit" class="btn btn-primary btn-sm bn-sm">Save</button>
                        <button type="reset" class="">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

