
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BloodBank/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;

}

<div class="col-md-3">
    @Html.Partial("~/Areas/BloodBank/Views/Shared/_LeftNavigation.cshtml")
</div>