<tr>
    <td>Cash</td>
    <td>
        <input type="text" id="shift-amount-cash" class="text-box box-sm" readonly />
    </td>
    <td>
        <input type="number" id="actual-amount-cash" name="ActualAmountCash" class="text-box box-sm" />
    </td>
</tr>
<tr>
    <td>Cheque</td>
    <td>
        <input type="text" id="shift-amount-cheque" class="text-box box-sm" readonly />
    </td>
    <td>
        <input type="number" id="actual-amount-cheque" name="ActualAmountCheque" class="text-box box-sm" />
    </td>
</tr>
